section#block-12--single.block-12.block-12--single
    .container
        .block-6__form.block-6-form.block-6-form---single
            .imgs
                picture
                    source(srcset='assets/img/block-12/i-1.webp'  type='image/png'  media='(min-width: 1200px)')
                    source(srcset='assets/img/block-12/i-1.webp' type='image/png'  media='(min-width: 768px) and (max-width: 1199px)')
                    source(srcset='assets/img/block-12/i-1-sm.webp' type='image/png'  media='(max-width: 767px)')
                    img(src='assets/img/block-12/i-1.webp', alt='img')
            .block-6-form__content
                .block-6-form__pre-title._f-14._w-500._ff    Уже пора?
                .block-6-form__title.block-6-form__title--single
                    h3._f-60._w-700._w  Закажите свой дом мечты<br>уже сейчас!

                .block-6-form__text
                    span._w-400._w    Оставьте заявку и
                    span._f-18._w-400._ff   получите консультацию главного архитектора по телефону
                    p._f-18._w-400._w   или с выездом на ваш объект
                        span._w-700     совершенно бесплатно!

                form.block-6-form__body(action="#" method="POST").feedback
                    .block-6-form__item
                        label._f-12._w-600._28   Введите Ваше имя:
                            input(type="text" name="name" placeholder="Алексей" ).block-6-form__input._name._req
                    .block-6-form__item
                        label._f-12._w-600._28   Введите Ваш номер телефона:
                            input(type="phone" name="phone" placeholder="+7 983 358 25-20").block-6-form__input._phone._req
                    .block-6-form__item
                        button(type="submit").btn.btn--success.block-6-form__button
                            span._f-12._w-700._2f Заказать звонок
                    .block-6-form__politic
                        input#cbform-single(type='checkbox')._req
                        label(for='cbform-single')._f-10._w-400._39 Нажимая на кнопку, Вы даете свое согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности
                    .loader
                        .loader__items
                            .loader__item
                            .loader__item
                            .loader__item
                        p.loader__name Отправка...











