section#block-5.block-5
  .container
    .block-5__body
      .block-5__title
        h2._f-40._w-700._28 300+ проектов домов, один из которых <br> может стать вашим
      .block-5__content-area
          ul.projects-js
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 1
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 2
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 3
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 4
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 5
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 6
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 7
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 8
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 9
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 10
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 11
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект
              li.block-5__card.future-card
                  .future-card__img
                      .imgs
                          img(src='assets/img/block-5/i-1.webp', alt='img')
                  ._f-50 12
                  .future-card__pre-title._f-12._w-500._b1  одноэтажный дом с мансардой

                  .future-card__title
                      h3._f-30._w-700._2f Александровский сад
                  .future-card__line._f-16._w-400._2f
                      span    Размеры:
                      span._w-700    15х9
                  .future-card__line._f-16._w-400._2f
                      span    Площадь:
                      span._w-700    250 м.кв
                  .future-card__line._f-16._w-400._2f
                      span    Комнат:
                      span._w-700    5
                  .future-card__divider
                  .future-card__line._f-16._w-400._2f
                      span    Материал стен:
                      span._w-700    Кирпич
                  .future-card__line._f-16._w-400._2f
                      span    Срок строительства:
                      span._w-700    3 месяца
                  .future-card__line._f-16._w-600._2f.future-card__line--cost
                      span    Стоимость строительства:
                  .future-card__price
                      span._f-40._w-700._2f    от
                      span._f-40._w-700._eb    4 199 000
                      span._f-40._w-700._2f   руб.
                  a(href="#!").btn.btn--success.future-card__button._f-14._w-700._2f Смотреть проект


          button.block-5__more._f-18._w-700._2f.more-js
                span Смотреть все проекты

