section#block-7.block-7
  .block-7__wrapper
    .imgs
      img(data-src='assets/img/block-7/i-bg.webp', alt='img')
      picture
        source(srcset='assets/img/block-7/i-bg.webp'  type='image/png'  media='(min-width: 1200px)')
        source(srcset='assets/img/block-7/i-bg.webp' type='image/png'  media='(min-width: 768px) and (max-width: 1199px)')
        source(srcset='assets/img/block-7/i-bg-sm.webp' type='image/png'  media='(max-width: 767px)')
        img(src='assets/img/block-7/i-bg.webp', alt='img')
    .container
        .block-7__title
          span._f-40._w-400._28 Вы получаете сразу <br>5 гарантий, потому что
          p._f-40._w-700._28 мы уверены в качестве работы на 100%
        .block-7__text._f-18._w-400._af  Все гарантийные обязательства закреплены в договоре и мы несем финансовую ответственность за их выполнение
        ul.block-7__cards
            li.block-7__card.block-7-card
              .block-7-card__number 01
              .block-7-card__title  Срок гарантии
              .block-7-card__text В срок до 120 дней мы передаем вам ключи от дома.
            li.block-7__card.block-7-card
              .block-7-card__number 02
              .block-7-card__title  Задаток
              .block-7-card__text Задаток минимальный – 50 000 р. для начала строительства.
            li.block-7__card.block-7-card
              .block-7-card__number 03
              .block-7-card__title  Гарантия
              .block-7-card__text На построенный дом официальная гарантия 10 лет.
            li.block-7__card.block-7-card
              .block-7-card__number 04
              .block-7-card__title  Все честно
              .block-7-card__text Итоговая стоимость возведения дома прописывается при заключении договора и не меняется до сдачи объекта.
            li.block-7__card.block-7-card
              .block-7-card__number 05
              .block-7-card__title  О нас говорят
              .block-7-card__text У нас более 230 довольных клиентов – их отзывы красноречиво говорят о нас.

