section#block-9.block-9
    .block-9__wrapper
        .imgs
            img(data-src='assets/img/', alt='img')
        .container
            .block-9__body
                    .block-9__column.block-9-column
                        .block-9-column__img
                            .imgs
                                img(src="assets/img/block-9/i-1.webp" alt="img")
                        .block-9-column__name._f-24._w-700._2f Алексей Алексеевич
                        .block-9-column__text._w-400._99    Руководитель компании “Global Build”



                    .block-9__content.block-9-content
                        .block-9-content__pre-title._f-14._w-500._eb   Слово основателя
                        .block-9-content__title._f-40._w-700._28
                            span Здравствуйте, меня зовут Алексей Алексеевич,
                            span._w-400 &nbsp;директор и основатель компании.
                        p.block-9-content__text._w-400  Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                        p.block-9-content__text._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                        ul.block-9-content__cards
                            li.block-9-content__card
                                .block-9-content__icon
                                    .chip__icon
                                        svg
                                            use(xlink:href='/assets/img/sprite.svg#mark')
                                .block-9-content__text._f-16._w-700._2f
                                    span    Красивые  и добротные дома «под ключ»
                                    span._w-400    из бруса, газобетона или кирпича.

                            li.block-9-content__card
                                .block-9-content__icon
                                    .chip__icon
                                        svg
                                            use(xlink:href='/assets/img/sprite.svg#mark')
                                .block-9-content__text._f-16._w-700._2f
                                    span._w-400    Минимальные первый взнос –
                                    span    50 000 р.

                            li.block-9-content__card
                                .block-9-content__icon
                                    .chip__icon
                                        svg
                                            use(xlink:href='/assets/img/sprite.svg#mark')
                                .block-9-content__text._f-16._w-700._2f
                                    span._w-400    Гарантия на дом –
                                    span    10 лет
                        span._f-18._w-600._28.block-9-content__span   Задайте мне вопрос напрямую:
                        form.block-9-content__form.block-6-form__body
                            .block-6-form__item
                                label._f-12._w-600._28
                                    | Введите Ваш номер телефона:
                                    input.block-6-form__input(type='phone' placeholder='+7 983 358 25-20')
                            .block-6-form__item
                                a.btn.btn--success.block-6-form__button(href='#!')
                                    span._f-12._w-700._2f заказать звонок
                            .block-6-form__politic
                                svg
                                    use(xlink:href='/assets/img/sprite.svg#bird')
                                span._f-10._w-400._39
                                    | Нажимая на кнопку, Вы даете свое согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности






        

      
      
