section#block-9.block-9
    .block-9__wrapper
        //.imgs
        //    img(src='assets/img/', alt='img')
        .container
            .block-9__body
                    .block-9__column.block-9-column
                        .block-9-column__img
                            .imgs
                                img(src="assets/img/block-9/i-1.webp" alt="img")
                        .block-9-column__name._f-24._w-700._2f Алексей Алексеевич
                        .block-9-column__text._w-400._99    Руководитель компании “Global Build”
                            .imgs
                                img(src="assets/img/block-9/i-2.webp" alt="img")

                    .block-9__content.block-9-content
                        .block-9-content__pre-title._f-14._w-500._eb   Слово основателя
                        .block-9-content__title._f-40._w-700._28
                            p Здравствуйте, меня зовут
                            p Алексей Алексеевич,
                                span._w-400 &nbsp;директор и основатель компании.
                        p.block-9-content__text._w-400  Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                        p.block-9-content__text._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                        .block-9-content__visible-sm._w-600._28 Что мы предлагаем:
                        ul.block-9-content__cards
                            li.block-9-content__card.block-9-card
                                .block-9-content__icon
                                    .chip__icon.chip__icon--9
                                        svg
                                            use(xlink:href='/assets/img/sprite.svg#mark')
                                .block-9-card__text._f-16._w-700._2f
                                    span.content-sm._w-400 Дома из бруса, газобетона, кирпича под ключ
                                    p.content-lg    Красивые
                                    p.content-lg    и добротные дома
                                    p.content-lg «под ключ» <span class="_w-400">  из </span>
                                    p.content-lg._w-400 бруса, газобетона
                                    p.content-lg._w-400 или кирпича.

                            li.block-9-content__card
                                .block-9-content__icon
                                    .chip__icon.chip__icon--9
                                        svg
                                            use(xlink:href='/assets/img/sprite.svg#mark')
                                .block-9-card__text._f-16._w-700._2f
                                    p.content-sm._w-400 Работаем по проекту с соблюдением всех стандартов
                                    p.content-lg._w-400    Минимальный первый взнос –
                                    p.content-lg    50 000 р.

                            li.block-9-content__card
                                .block-9-content__icon
                                    .chip__icon.chip__icon--9
                                        svg
                                            use(xlink:href='/assets/img/sprite.svg#mark')
                                .block-9-card__text._f-16._w-700._2f
                                    p.content-sm._w-400 Предоставляем полное юридическое сопровождение
                                    p.content-lg._w-400    Гарантия на дом –
                                    p.content-lg    10 лет


                    .block-9__form
                        //form.block-9-content__form.block-6-form__body
                        form.block-6-form__body(action="#" method="POST").feedback
                            span._f-18._w-600._28.block-9-content__span   Задайте мне вопрос напрямую:
                            .block-6-form__item
                                label._f-12._w-600._28   Введите Ваш номер телефона:
                                    input(type="phone" name="phone" placeholder="+7 983 358 25-20").block-6-form__input._phone._req
                            //.block-6-form__item
                            //    label._f-12._w-600._28
                            //        | Введите Ваш номер телефона:
                            //        input.block-6-form__input(type='phone' placeholder='+7 983 358 25-20')
                            .block-6-form__item
                                button(type="submit").btn.btn--success.block-6-form__button
                                    span._f-12._w-700._2f Заказать звонок
                            //.block-6-form__item
                            //    a.btn.btn--success.block-6-form__button(href='#!')
                            //        span._f-12._w-700._2f заказать звонок
                            .block-6-form__politic.block-6-form__politic--9
                                input#cbform-1(type='checkbox')._req
                                label(for='cbform-1')._f-10._w-400._39 Нажимая на кнопку, Вы даете свое согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности
                            //.block-6-form__politic.block-6-form__politic--9
                            //    svg
                            //        use(xlink:href='/assets/img/sprite.svg#bird')
                            //    span._f-10._w-400._39
                            //        | Нажимая на кнопку, Вы даете свое согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности











        

      
      
