section#block-10.block-10
   .container
        .block-10__title
            h2._f-40._28 Сертификаты

        .block-10__slider
            button.block-10-arrow-prev.swiper-arrow.swiper-button-prev(type='button').arrow--prev
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
            button.block-10-arrow-next.swiper-arrow.swiper-button-next(type='button').arrow--next
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-right')
            .block-10__swiper.swiper-container
                ul.swiper-wrapper
                    li.slider-10__item.slider-card-10.swiper-slide
                        .slider-card-10__img
                            .imgs
                                img(src='assets/img/block-10/i-1.webp', alt='img')
                        .slider-card-10__text._b1
                            span Сертификат №1

                    li.slider-10__item.slider-card-10.swiper-slide
                        .slider-card-10__img
                            .imgs
                                img(src='assets/img/block-10/i-2.webp', alt='img')
                        .slider-card-10__text._b1
                            span Сертификат №2

                    li.slider-10__item.slider-card-10.swiper-slide
                        .slider-card-10__img
                            .imgs
                                img(src='assets/img/block-10/i-3.webp', alt='img')
                        .slider-card-10__text._b1
                            span Сертификат №3

                    li.slider-10__item.slider-card-10.swiper-slide
                        .slider-card-10__img
                            .imgs
                                img(src='assets/img/block-10/i-1.webp', alt='img')
                        .slider-card-10__text._b1
                            span Сертификат №4





      
      
      
