section#block-10.block-10
        .block-10__title
            h2._f-40._28 Сертификаты
        .block-10__slider.slider
            .reviews-10-slick-prev.slick-arrow.slick-prev
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
            .reviews-10-slick-next.slick-arrow.slick-next
                svg
                    use(xlink:href='/assets/img/sprite.svg#arrow-right')
            ul.slider__slider.slider__body.slider-js-sertif
                li.slider__item.slider-card-10
                    .slider-card-10__img
                        .imgs
                            img(data-src='assets/img/block-10/i-1.webp', alt='img')
                    .slider-card-10__text._b1
                        span Сертификат №1

                li.slider-10__item.slider-card-10
                    .slider-card-10__img
                        .imgs
                            img(data-src='assets/img/block-10/i-2.webp', alt='img')
                    .slider-card-10__text._b1
                        span Сертификат №2

                li.slider-10__item.slider-card-10
                    .slider-card-10__img
                        .imgs
                            img(data-src='assets/img/block-10/i-3.webp', alt='img')
                    .slider-card-10__text._b1
                        span Сертификат №3

                li.slider-10__item.slider-card-10
                    .slider-card-10__img
                        .imgs
                            img(data-src='assets/img/block-10/i-1.webp', alt='img')
                    .slider-card-10__text._b1
                        span Сертификат №4


                li.slider-10__item.slider-card-10
                    .slider-card-10__img
                        .imgs
                            img(data-src='assets/img/block-10/i-2.webp', alt='img')
                    .slider-card-10__text._b1
                        span Сертификат №5

                li.slider-10__item.slider-card-10
                    .slider-card-10__img
                        .imgs
                            img(data-src='assets/img/block-10/i-3.webp', alt='img')
                    .slider-card-10__text._b1
                        span Сертификат №6

                li.slider-10__item.slider-card-10
                    .slider-card-10__img
                        .imgs
                            img(data-src='assets/img/block-10/i-1.webp', alt='img')
                    .slider-card-10__text._b1
                        span Сертификат №7


      
      
      
