section#block-4.block-4
    .container
      .block-4__body
        .block-4__title
            h2._f-40._w-700 Проекты домов, которыми мы гордимся
        ul.block-4__projects.block-4-projects
            li.block-4-projects__card.projects-card
                .imgs
                    img(data-src='assets/img/block-4/i-1.webp', alt='img')
                .projects-card__body
                    .projects-card__chip._f-12._w-500  236 проектов
                    .projects-card__title._f-30._w-700 Дома из бруса
                    .projects-card__price._f-40._w-700
                        span от
                        span 21 000
                        span руб/м2
                    a(href="#!").btn.btn--success.projects-card__button._f-14 расчитать стоимость строительства
                    a(href="#!").projects-card__over._f-14._w-600
                        span    Посмотреть проекты


            li.block-4-projects__card.projects-card
                .imgs
                    img(data-src='assets/img/block-4/i-2.webp', alt='img')
                .projects-card__body
                    .projects-card__chip._f-12._w-500  236 проектов
                    .projects-card__title._f-30._w-700 Дома из газобетона
                    .projects-card__price._f-40._w-700
                        span от
                        span 21 000
                        span руб/м2
                    a(href="#!").btn.btn--success.projects-card__button._f-14 расчитать стоимость строительства
                    a(href="#!").projects-card__over._f-14._w-600
                        span    Посмотреть проекты


            li.block-4-projects__card.projects-card
                .imgs
                    img(data-src='assets/img/block-4/i-3.webp', alt='img')
                .projects-card__body
                    .projects-card__chip._f-12._w-500  236 проектов
                    .projects-card__title._f-30._w-700 Дома из кирпича
                    .projects-card__price._f-40._w-700
                        span от
                        span 21 000
                        span руб/м2
                    a(href="#!").btn.btn--success.projects-card__button._f-14 расчитать стоимость строительства
                    a(href="#!").projects-card__over._f-14._w-600
                        span Посмотреть проекты


