section#block-1.block-1
  .block-1__wrapper
    .container
      .block-1__body
        .block-1__title
          span._f-40._w-700 Закажите строительство дома «под ключ»,
          span._f-40._w-400 &nbsp;имея <br>  всего  <span class="block-1__chip _f-40 _w-700"> <div class="block-1__chip-wrap"> 50 000 р.</div> </span>   для первоначального взноса,
        .block-1__text._f-24._w-400  а ипотеку оформляйте спустя 120 дней – к моменту сдачи объекта.

        a(href="#!").btn.btn--success.block-1__button._f-15 пОСМОТРЕТЬ ПРОЕКТЫ ДОМОВ
        .block-1__img
          .imgs
            img(src="assets/img/block-1/dec-1.webp  ")
        










