section#block-5.block-5
  .container
    .block-5__body
      .block-5__title
        h2._f-40._w-700._28 300+ проектов домов, один из которых <br> может стать вашим
      .block-5__content-area
        ul.block-5__content
          include ./includes/future-card
          include ./includes/future-card
          include ./includes/future-card
          include ./includes/future-card
          include ./includes/future-card
          include ./includes/future-card

        ul.projects-js.more-hidden
          include ./includes/future-card
          include ./includes/future-card
          include ./includes/future-card
          include ./includes/future-card
          include ./includes/future-card
          include ./includes/future-card

        button.block-5__more._f-18._w-700._2f.more-js  Смотреть все проекты

