section#reviews.reviews
    .container
        .reviews__title
            h2._f-40._w-700._28 Отзывы клиентов которым мы уже <br>  построили уютный дом
        .reviews__body
            .slider__slider.reviews__top.slider
                .reviews-top-slick-prev.reviews-slick-arrow.slick-arrow.slick-prev
                    svg
                        use(xlink:href='/assets/img/sprite.svg#arrow-left')
                .reviews-top-slick-next.reviews-slick-arrow.slick-arrow.slick-next
                    svg
                        use(xlink:href='/assets/img/sprite.svg#arrow-right')
                ul.reviews__slider.slider__body.slider-js-1

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                .reviews__low
                    .reviews-low-slick-prev.reviews-slick-arrow.slick-arrow.slick-prev
                        svg
                            use(xlink:href='/assets/img/sprite.svg#arrow-left')
                    .reviews-low-slick-next.reviews-slick-arrow.slick-arrow.slick-next
                        svg
                            use(xlink:href='/assets/img/sprite.svg#arrow-right')
                    ul.slider__body.slider-js-2
                        include includes/galery
                        include includes/galery
                        include includes/galery
                        include includes/galery
                        include includes/galery
                        include includes/galery




section#modaL.modaL
    .popup-player.slide-player-1-popup
        .popup-player__overlay
            .popup-player__inner
                i.icon-x.popup__close.close-js
                #player.player-1(data-plyr-provider='youtube' data-plyr-embed-id="bTqVqk7FSmY")
    .popup-player.slide-player-2-popup
        .popup-player__overlay
            .popup-player__inner
                i.icon-x.popup__close.close-js
                #player.player-2(data-plyr-provider='youtube' data-plyr-embed-id="75UQsEeH0jo")
    .popup-player.slide-player-3-popup
        .popup-player__overlay
            .popup-player__inner
                i.icon-x.popup__close.close-js
                #player.player-3(data-plyr-provider='youtube' data-plyr-embed-id="vr0qNXmkUJ8")
    .popup-player.slide-player-4-popup
        .popup-player__overlay
            .popup-player__inner
                i.icon-x.popup__close.close-js
                #player.player-4(data-plyr-provider='youtube' data-plyr-embed-id="x4Xb8yACha4")
    .popup-player.slide-player-5-popup
           .popup-player__overlay
               .popup-player__inner
                   i.icon-x.popup__close.close-js
                   #player.player-5(data-plyr-provider='youtube' data-plyr-embed-id="x4Xb8yACha4")
    .popup-player.slide-player-6-popup
           .popup-player__overlay
               .popup-player__inner
                   i.icon-x.popup__close.close-js
                   #player.player-6(data-plyr-provider='youtube' data-plyr-embed-id="x4Xb8yACha4")


