section#contacts.contacts
    .container
        .contacts__title
            h2._f-40._28    Контакты
        .contacts__body
            .imgs
                iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A3459a55cf64f99fd9effa74bcbab7b0084b0777326884a148947a29443bcca51&source=constructor'  frameborder='0')
            .contacts__content.contacts-content
                .contacts-content__adress._w-500._2f г. Москва
                .contacts-content__adress._w-500._2f ул. Красноармейский 60/3
                .contacts-content__info
                        .contacts-content__text._f-12._w-400._bd Без выходных с 9:00 до 18:00
                        .contacts-content__phone._f-24._w-700._2f + 7 (983) 465 65-65
                        .contacts-content__email._f-16._w-600._eb
                          span global_build@mail.ru


                .contacts-content__soc.soc
                    .contacts-content__text-low._f-12._w-400._93 Пишите нам мы онлайн:
                    a(href="#!").soc__item
                       svg
                            use(xlink:href='/assets/img/sprite.svg#Facebook')
                    a(href="#!").soc__item
                       svg
                            use(xlink:href='/assets/img/sprite.svg#VK')
                    a(href="#!").soc__item
                           svg
                            use(xlink:href='/assets/img/sprite.svg#wa')
                    a(href="#!").soc__item
                        svg
                            use(xlink:href='/assets/img/sprite.svg#Instagram')


      
