section#reviews.reviews
    .container
        .reviews__title
            h2._f-40._w-700._28 Отзывы клиентов которым мы уже <br>  построили уютный дом
        .reviews__body
            .slider__slider.reviews__top.slider
                ul.reviews__slider.slider__body.slider-js-1
                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м

                    li.reviews__item.slider-card
                        .slider-card__title
                            p Коттедж 2 эт.
                            p 257 кв.м


                ul.reviews__low.slider__body.slider-js-2
                    li.reviews__item.reviews-card
                        .reviews-card__body
                                .reviews-card__column
                                    .reviews-card__left
                                        a(href="#!" rel="slide-player-1-popup").popup-player-init-js
                                            svg
                                                use(xlink:href='/assets/img/sprite.svg#arrow-yellow')
                                        .imgs
                                             img(data-src='assets/img/block-8/i-2.webp', alt='img')

                                    .reviews-card__galery.galery
                                        .galery__item
                                            .imgs
                                                img(src='assets/img/block-8/galary-1.webp', alt='img')
                                        .galery__item
                                            .imgs
                                                img(src='assets/img/block-8/galary-2.webp', alt='img')
                                        .galery__item
                                            .imgs
                                                img(src='assets/img/block-8/galary-3.webp', alt='img')
                                        .galery__item
                                            .imgs
                                                img(src='assets/img/block-8/galary-1.webp', alt='img')
                                        .galery__item
                                            .imgs
                                                img(src='assets/img/block-8/galary-2.webp', alt='img')
                                        .galery__item
                                            .imgs
                                                img(src='assets/img/block-8/galary-3.webp', alt='img')
                                        .galery__item
                                            .imgs
                                                img(src='assets/img/block-8/galary-3.webp', alt='img')
                                        .galery__item
                                            .imgs
                                                img(src='assets/img/block-8/galary-1.webp', alt='img')
                                        .galery__item
                                            .imgs
                                                img(src='assets/img/block-8/galary-2.webp', alt='img')
                                        .galery__item
                                            .imgs
                                                img(src='assets/img/block-8/galary-3.webp', alt='img')

                                .reviews-card__right
                                         .reviews-card__title
                                             h3._f-30._w-600._28 Кирпичный коттедж 257 кв.м
                                         .reviews-card__title-line.reviews-card-title-line
                                             .reviews-card-title-line__text
                                                span._w-400 Проект:
                                                span “Ракета”
                                             .reviews-card-title-line__chip._f-18._w-500 Построили под ключ за 60 дней
                                         .reviews-card__description._f-16._w-400  Стоимость строительства:
                                         .reviews-card__price
                                             span._f-50._w-700    от
                                             span._f-50._w-700._eb    4 199 000
                                             span._f-50._w-700    руб.
                                         .reviews-card__review.reviews-card-review
                                             .reviews-card-review__head
                                                 .reviews-card-review__img
                                                     .imgs
                                                        img(data-src='assets/img/block-8/i-1.webp', alt='img')
                                                 .reviews-card-review__head-title
                                                     h4._f-24  Сергей Алексеевич
                                                     p._w-400   Владелец дома
                                                 .reviews-card-review__icon
                                                     svg
                                                         use(xlink:href='/assets/img/sprite.svg#Instagram')
                                             .reviews-card-review__text._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             .reviews-card-review__hidden._w-400    В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             button(type="button").reviews-card-review__more._f-18._w-600._b1 Читать далее...
                    li.reviews__item.reviews-card
                        .reviews-card__body
                                 .reviews-card__left
                                    a(href="#!" rel="slide-player-2-popup").popup-player-init-js
                                        svg
                                            use(xlink:href='/assets/img/sprite.svg#arrow-yellow')
                                    .imgs
                                         img(data-src='assets/img/block-8/i-2.webp', alt='img')
                                 .reviews-card__right
                                         .reviews-card__title
                                             h3._f-30._w-600._28 Кирпичный коттедж 257 кв.м
                                         .reviews-card__title-line.reviews-card-title-line
                                             .reviews-card-title-line__text
                                                span._w-400 Проект:
                                                span “Ракета”
                                             .reviews-card-title-line__chip._f-18._w-500 Построили под ключ за 60 дней
                                         .reviews-card__description._f-16._w-400  Стоимость строительства:
                                         .reviews-card__price
                                             span._f-50._w-700    от
                                             span._f-50._w-700._eb    4 199 000
                                             span._f-50._w-700    руб.
                                         .reviews-card__review.reviews-card-review
                                             .reviews-card-review__head
                                                 .reviews-card-review__img
                                                     .imgs
                                                        img(data-src='assets/img/block-8/i-1.webp', alt='img')

                                                 .reviews-card-review__head-title
                                                     h4._f-24  Сергей Алексеевич
                                                     p._w-400   Владелец дома
                                                 .reviews-card-review__icon
                                                     svg
                                                         use(xlink:href='/assets/img/sprite.svg#Instagram')
                                             .reviews-card-review__text._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             .reviews-card-review__hidden._w-400    В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             button(type="button").reviews-card-review__more._f-18._w-600._b1 Читать далее...
                    li.reviews__item.reviews-card
                        .reviews-card__body
                                 .reviews-card__left
                                     a(href="#!" rel="slide-player-3-popup").popup-player-init-js
                                         svg
                                             use(xlink:href='/assets/img/sprite.svg#arrow-yellow')
                                     .imgs
                                         img(data-src='assets/img/block-8/i-2.webp', alt='img')
                                 .reviews-card__right
                                         .reviews-card__title
                                             h3._f-30._w-600._28 Кирпичный коттедж 257 кв.м
                                         .reviews-card__title-line.reviews-card-title-line
                                             .reviews-card-title-line__text
                                                span._w-400 Проект:
                                                span “Ракета”
                                             .reviews-card-title-line__chip._f-18._w-500 Построили под ключ за 60 дней
                                         .reviews-card__description._f-16._w-400  Стоимость строительства:
                                         .reviews-card__price
                                             span._f-50._w-700    от
                                             span._f-50._w-700._eb    4 199 000
                                             span._f-50._w-700    руб.
                                         .reviews-card__review.reviews-card-review
                                             .reviews-card-review__head
                                                 .reviews-card-review__img
                                                     .imgs
                                                        img(data-src='assets/img/block-8/i-1.webp', alt='img')

                                                 .reviews-card-review__head-title
                                                     h4._f-24  Сергей Алексеевич
                                                     p._w-400   Владелец дома
                                                 .reviews-card-review__icon
                                                     svg
                                                         use(xlink:href='/assets/img/sprite.svg#Instagram')
                                             .reviews-card-review__text._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             .reviews-card-review__hidden._w-400    В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             button(type="button").reviews-card-review__more._f-18._w-600._b1 Читать далее...
                    li.reviews__item.reviews-card
                        .reviews-card__body
                                 .reviews-card__left
                                    a(href="#!" rel="slide-player-4-popup").popup-player-init-js
                                        svg
                                            use(xlink:href='/assets/img/sprite.svg#arrow-yellow')
                                    .imgs
                                         img(data-src='assets/img/block-8/i-2.webp', alt='img')
                                 .reviews-card__right
                                         .reviews-card__title
                                             h3._f-30._w-600._28 Кирпичный коттедж 257 кв.м
                                         .reviews-card__title-line.reviews-card-title-line
                                             .reviews-card-title-line__text
                                                span._w-400 Проект:
                                                span “Ракета”
                                             .reviews-card-title-line__chip._f-18._w-500 Построили под ключ за 60 дней
                                         .reviews-card__description._f-16._w-400  Стоимость строительства:
                                         .reviews-card__price
                                             span._f-50._w-700    от
                                             span._f-50._w-700._eb    4 199 000
                                             span._f-50._w-700    руб.
                                         .reviews-card__review.reviews-card-review
                                             .reviews-card-review__head
                                                 .reviews-card-review__img
                                                     .imgs
                                                        img(data-src='assets/img/block-8/i-1.webp', alt='img')

                                                 .reviews-card-review__head-title
                                                     h4._f-24  Сергей Алексеевич
                                                     p._w-400   Владелец дома
                                                 .reviews-card-review__icon
                                                     svg
                                                         use(xlink:href='/assets/img/sprite.svg#Instagram')
                                             .reviews-card-review__text._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             .reviews-card-review__hidden._w-400    В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             button(type="button").reviews-card-review__more._f-18._w-600._b1 Читать далее...
                    li.reviews__item.reviews-card
                        .reviews-card__body
                                 .reviews-card__left
                                     a(href="#!" rel="slide-player-5-popup").popup-player-init-js
                                         svg
                                             use(xlink:href='/assets/img/sprite.svg#arrow-yellow')
                                     .imgs
                                         img(data-src='assets/img/block-8/i-2.webp', alt='img')
                                 .reviews-card__right
                                         .reviews-card__title
                                             h3._f-30._w-600._28 Кирпичный коттедж 257 кв.м
                                         .reviews-card__title-line.reviews-card-title-line
                                             .reviews-card-title-line__text
                                                span._w-400 Проект:
                                                span “Ракета”
                                             .reviews-card-title-line__chip._f-18._w-500 Построили под ключ за 60 дней
                                         .reviews-card__description._f-16._w-400  Стоимость строительства:
                                         .reviews-card__price
                                             span._f-50._w-700    от
                                             span._f-50._w-700._eb    4 199 000
                                             span._f-50._w-700    руб.
                                         .reviews-card__review.reviews-card-review
                                             .reviews-card-review__head
                                                 .reviews-card-review__img
                                                     .imgs
                                                        img(data-src='assets/img/block-8/i-1.webp', alt='img')

                                                 .reviews-card-review__head-title
                                                     h4._f-24  Сергей Алексеевич
                                                     p._w-400   Владелец дома
                                                 .reviews-card-review__icon
                                                     svg
                                                         use(xlink:href='/assets/img/sprite.svg#Instagram')
                                             .reviews-card-review__text._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             .reviews-card-review__hidden._w-400    В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             button(type="button").reviews-card-review__more._f-18._w-600._b1 Читать далее...
                    li.reviews__item.reviews-card
                        .reviews-card__body
                                 .reviews-card__left
                                     a(href="#!" rel="slide-player-6-popup").popup-player-init-js
                                         svg
                                             use(xlink:href='/assets/img/sprite.svg#arrow-yellow')
                                     .imgs
                                         img(data-src='assets/img/block-8/i-2.webp', alt='img')
                                 .reviews-card__right
                                         .reviews-card__title
                                             h3._f-30._w-600._28 Кирпичный коттедж 257 кв.м
                                         .reviews-card__title-line.reviews-card-title-line
                                             .reviews-card-title-line__text
                                                span._w-400 Проект:
                                                span “Ракета”
                                             .reviews-card-title-line__chip._f-18._w-500 Построили под ключ за 60 дней
                                         .reviews-card__description._f-16._w-400  Стоимость строительства:
                                         .reviews-card__price
                                             span._f-50._w-700    от
                                             span._f-50._w-700._eb    4 199 000
                                             span._f-50._w-700    руб.
                                         .reviews-card__review.reviews-card-review
                                             .reviews-card-review__head
                                                 .reviews-card-review__img
                                                     .imgs
                                                        img(data-src='assets/img/block-8/i-1.webp', alt='img')

                                                 .reviews-card-review__head-title
                                                     h4._f-24  Сергей Алексеевич
                                                     p._w-400   Владелец дома
                                                 .reviews-card-review__icon
                                                     svg
                                                         use(xlink:href='/assets/img/sprite.svg#Instagram')
                                             .reviews-card-review__text._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             .reviews-card-review__hidden._w-400    В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             button(type="button").reviews-card-review__more._f-18._w-600._b1 Читать далее...
                    li.reviews__item.reviews-card
                        .reviews-card__body
                                 .reviews-card__left
                                     a(href="#!" rel="slide-player-5-popup").popup-player-init-js
                                         svg
                                             use(xlink:href='/assets/img/sprite.svg#arrow-yellow')
                                     .imgs
                                         img(data-src='assets/img/block-8/i-2.webp', alt='img')
                                 .reviews-card__right
                                         .reviews-card__title
                                             h3._f-30._w-600._28 Кирпичный коттедж 257 кв.м
                                         .reviews-card__title-line.reviews-card-title-line
                                             .reviews-card-title-line__text
                                                span._w-400 Проект:
                                                span “Ракета”
                                             .reviews-card-title-line__chip._f-18._w-500 Построили под ключ за 60 дней
                                         .reviews-card__description._f-16._w-400  Стоимость строительства:
                                         .reviews-card__price
                                             span._f-50._w-700    от
                                             span._f-50._w-700._eb    4 199 000
                                             span._f-50._w-700    руб.
                                         .reviews-card__review.reviews-card-review
                                             .reviews-card-review__head
                                                 .reviews-card-review__img
                                                     .imgs
                                                        img(data-src='assets/img/block-8/i-1.webp', alt='img')

                                                 .reviews-card-review__head-title
                                                     h4._f-24  Сергей Алексеевич
                                                     p._w-400   Владелец дома
                                                 .reviews-card-review__icon
                                                     svg
                                                         use(xlink:href='/assets/img/sprite.svg#Instagram')
                                             .reviews-card-review__text._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             .reviews-card-review__hidden._w-400    В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             button(type="button").reviews-card-review__more._f-18._w-600._b1 Читать далее...
                    li.reviews__item.reviews-card
                        .reviews-card__body
                                 .reviews-card__left.reviews-card-left
                                     a(href="#!" rel="slide-player-1-popup").popup-player-init-js
                                         svg
                                             use(xlink:href='/assets/img/sprite.svg#arrow-yellow')
                                     .imgs
                                         img(data-src='assets/img/block-8/i-2.webp', alt='img')
                                 .reviews-card__right
                                         .reviews-card__title
                                             h3._f-30._w-600._28 Кирпичный коттедж 257 кв.м
                                         .reviews-card__title-line.reviews-card-title-line
                                             .reviews-card-title-line__text
                                                span._w-400 Проект:
                                                span “Ракета”
                                             .reviews-card-title-line__chip._f-18._w-500 Построили под ключ за 60 дней
                                         .reviews-card__description._f-16._w-400  Стоимость строительства:
                                         .reviews-card__price
                                             span._f-50._w-700    от
                                             span._f-50._w-700._eb    4 199 000
                                             span._f-50._w-700    руб.
                                         .reviews-card__review.reviews-card-review
                                             .reviews-card-review__head
                                                 .reviews-card-review__img
                                                     .imgs
                                                        img(data-src='assets/img/block-8/i-1.webp', alt='img')

                                                 .reviews-card-review__head-title
                                                     h4._f-24  Сергей Алексеевич
                                                     p._w-400   Владелец дома
                                                 .reviews-card-review__icon
                                                     svg
                                                         use(xlink:href='/assets/img/sprite.svg#Instagram')
                                             .reviews-card-review__text._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             .reviews-card-review__hidden._w-400    В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
                                             button(type="button").reviews-card-review__more._f-18._w-600._b1 Читать далее...




section#modaL.modaL
    .popup-player.slide-player-1-popup
        .popup-player__overlay
            .popup-player__inner
                i.icon-x.popup__close.close-js
                #player.player-1(data-plyr-provider='youtube' data-plyr-embed-id="bTqVqk7FSmY")
    .popup-player.slide-player-2-popup
        .popup-player__overlay
            .popup-player__inner
                i.icon-x.popup__close.close-js
                #player.player-2(data-plyr-provider='youtube' data-plyr-embed-id="75UQsEeH0jo")
    .popup-player.slide-player-3-popup
        .popup-player__overlay
            .popup-player__inner
                i.icon-x.popup__close.close-js
                #player.player-3(data-plyr-provider='youtube' data-plyr-embed-id="vr0qNXmkUJ8")
    .popup-player.slide-player-4-popup
        .popup-player__overlay
            .popup-player__inner
                i.icon-x.popup__close.close-js
                #player.player-4(data-plyr-provider='youtube' data-plyr-embed-id="x4Xb8yACha4")
    .popup-player.slide-player-5-popup
           .popup-player__overlay
               .popup-player__inner
                   i.icon-x.popup__close.close-js
                   #player.player-5(data-plyr-provider='youtube' data-plyr-embed-id="x4Xb8yACha4")
    .popup-player.slide-player-6-popup
           .popup-player__overlay
               .popup-player__inner
                   i.icon-x.popup__close.close-js
                   #player.player-6(data-plyr-provider='youtube' data-plyr-embed-id="x4Xb8yACha4")


