section#block-12.block-12
    .container
        .block-6__form.block-6-form
            .imgs
                picture
                  source(srcset='assets/img/block-12/i-1.webp'  type='image/png'  media='(min-width: 1200px)')
                  source(srcset='assets/img/block-12/i-1.webp' type='image/png'  media='(min-width: 768px) and (max-width: 1199px)')
                  source(srcset='assets/img/block-12/i-1-sm.webp' type='image/png'  media='(max-width: 767px)')
                  img(src='assets/img/block-12/i-1.webp', alt='img')
            .block-6-form__content
                .block-6-form__pre-title._f-14._w-500._ff    Уже пора?
                .block-6-form__title
                    h3._f-40._w-700._w  Закажите дом своей мечты сейчас, имея <br> всего 50 000 р., и получите ключи от уютного <br> семейного гнездышка через 3-4 месяца!
                .block-6-form__text
                    span._w-400._w    Для обсуждения деталей свяжитесь с главным архитектором.
                    //span._f-18._w-400._ff   получите консультацию главного архитектора
                    //span._f-18._w-400._w  по телефону <br> или с выездом на ваш объект совершенно бесплатно!
            //form.block-6-form__body
            //    .block-6-form__item
            //        label._f-12._w-600._28   Введите Ваше имя:
            //            input(type="text" placeholder="Алексей").block-6-form__input
            //    .block-6-form__item
            //        label._f-12._w-600._28   Введите Ваш номер телефона:
            //            input(type="phone" placeholder="+7 983 358 25-20").block-6-form__input
            //    .block-6-form__item
            //        a(href="#!").btn.btn--success.block-6-form__button
            //            span._f-12._w-700._2f Обсудить дом своей мечты
            //    .block-6-form__politic
            //        svg
            //            use(xlink:href='/assets/img/sprite.svg#bird')
            //        span._f-10._w-400._39 Нажимая на кнопку, Вы даете свое согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности

            form#form-12.block-6-form__body(action="#" method="POST").feedback
                .block-6-form__item
                    label._f-12._w-600._28   Введите Ваше имя:
                        input(type="text" name="name" placeholder="Алексей" ).block-6-form__input._name._req
                .block-6-form__item
                    label._f-12._w-600._28   Введите Ваш номер телефона:
                        input(type="phone" name="phone" placeholder="+7 983 358 25-20").block-6-form__input._phone._req
                .block-6-form__item
                    button(type="submit").btn.btn--success.block-6-form__button
                        span._f-12._w-700._2f Заказать звонок
                .block-6-form__politic
                    input#cbform-12(type='checkbox')._req
                    label(for='cbform-12')._f-10._w-400._39 Нажимая на кнопку, Вы даете свое согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности
                //.loader
                //    .loader__items
                //        .loader__item
                //        .loader__item
                //        .loader__item
                //    p.loader__name Отправка...