section#block-11.block-11
    .container
        .block-11__title
            h2._f-40._28 Ответы на популярные вопросы
        ul.block-11__body
            li.block-11__tab.block-11-tab
              .block-11-tab__title
                  p._w-600._b1 Часто задаваемый
                  p._w-600._b1  вопрос №1
                  svg
                      use(xlink:href='/assets/img/sprite.svg#arrow-down')
              .block-11-tab__hidden
                  p._w-400   Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                  p._w-400 В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.

            li.block-11__tab.block-11-tab
              .block-11-tab__title
                p._w-600._b1 Часто задаваемый
                p._w-600._b1  вопрос №2
                  svg
                      use(xlink:href='/assets/img/sprite.svg#arrow-down')
              .block-11-tab__hidden
                  p._w-400   Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                  p._w-400 В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.

            li.block-11__tab.block-11-tab
              .block-11-tab__title
                p._w-600._b1 Часто задаваемый
                p._w-600._b1  вопрос №3
                svg
                      use(xlink:href='/assets/img/sprite.svg#arrow-down')
              .block-11-tab__hidden
                  p._w-400   Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                  p._w-400 В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.

            li.block-11__tab.block-11-tab
              .block-11-tab__title
                    p._w-600._b1 Часто задаваемый
                    p._w-600._b1  вопрос №4
                    svg
                      use(xlink:href='/assets/img/sprite.svg#arrow-down')
              .block-11-tab__hidden
                  p._w-400   Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                  p._w-400 В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.

            li.block-11__tab.block-11-tab
              .block-11-tab__title
                    p._w-600._b1 Часто задаваемый
                    p._w-600._b1  вопрос №5
                    svg
                      use(xlink:href='/assets/img/sprite.svg#arrow-down')
              .block-11-tab__hidden
                  p._w-400   Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                  p._w-400 В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.



      
      
