section#block-3.block-3
    .container
      .block-3__body
          .block-3__title
            span._f-40._w-700 6 причин заказать
            span._f-40._w-400 &nbsp;строительство дома<br>
            span._f-40._w-400 в &nbsp;
            span._f-40._w-700 «global build»
          ul.block-3__cards
            li.block-3__card.block-3-card
              .block-3-card__decor
                .imgs
                  svg
                    use(xlink:href='/assets/img/sprite.svg#decor')
              .block-3-card__img(style="position: relative")
                .imgs
                  img(data-src="assets/img/block-3/i-1.webp  ")
              .block-3-card__text
                span._w-400  Строим красивые и уютные
                span._w-700  дома «под ключ» более 7 лет.

      
      
            li.block-3__card.block-3-card
              .block-3-card__decor
                .imgs
                  svg
                    use(xlink:href='/assets/img/sprite.svg#decor')
              .block-3-card__img(style="position: relative")
                .imgs
                  img(data-src="assets/img/block-3/i-2.webp ")
              .block-3-card__text
                span._w-400  У нас уже
                span._w-700  более 230 довольных заказчиков,
                span._w-400  которые обрели семейное гнездышко
                span._w-700  с нашей помощью



            li.block-3__card.block-3-card
              .block-3-card__decor
                    .imgs
                      svg
                        use(xlink:href='/assets/img/sprite.svg#decor')
              .block-3-card__img(style="position: relative")
                .imgs
                  img(data-src="assets/img/block-3/i-3.webp ")
              .block-3-card__text
                span._w-700  Досконально знакомы с особенностями строительства домов в Уфе
                span._w-400  и учитываем их в каждом проекте.



            li.block-3__card.block-3-card
              .block-3-card__decor
                .imgs
                  svg
                    use(xlink:href='/assets/img/sprite.svg#decor')
              .block-3-card__img(style="position: relative")
                .imgs
                  img(data-src="assets/img/block-3/i-4.webp ")
              .block-3-card__text
                span._w-400  Все работы и материалы, которые мы используем,
                span._w-700  строго соответствуют ГОСТу и СНиП



            li.block-3__card.block-3-card
              .block-3-card__decor
                .imgs
                  svg
                    use(xlink:href='/assets/img/sprite.svg#decor')
              .block-3-card__img(style="position: relative")
                .imgs
                  img(data-src="assets/img/block-3/i-5.webp ")
              .block-3-card__text
                span._w-400  Для расчета за свой будущий дом можете
                span._w-700  использовать материнский капитал и ипотеку.



            li.block-3__card.block-3-card
              .block-3-card__decor
                .imgs
                  svg
                    use(xlink:href='/assets/img/sprite.svg#decor')
              .block-3-card__img(style="position: relative")
                .imgs
                  img(data-src="assets/img/block-3/i-6.webp ")
              .block-3-card__text
                span._w-700  Сопровождаем сделку на всех этапах.



