section.first#first--single.first--single
    section.bunner#bunner--single.bunner--single
        .bunner__bg.imgs.bunner__bg--single
            picture
                source(srcset="assets/img/home/bunner.webp"  type="image/webp"  media="(min-width: 1200px)")
                source(srcset="assets/img/home/bunner-lg.webp"  type="image/webp"  media="(min-width: 768px) and (max-width: 1199px)")
                source(srcset="assets/img/home/bunner-sm.webp"  type="image/webp"  media="(max-width: 767px)")
                img(src='assets/img/home/bunner.webp', alt='img')
        .container
            .bunner__body.bunner__body--single
                nav.bunner__nav.bunner-nav.flex
                    a(href="#").bunner__link._f-14._w-500._eb Главная
                    span._f-14._w-500._eb /
                    a(href="#").bunner__link._f-14._w-500._eb Александровский сад
                .bunner__title.bunner__title--single
                    h1 Александровский сад 257 кв.м
