header.header
    .container
        .header__body
            .header__block-logo.block-logo
                .imgs
                    picture
                        source(srcset="assets/img/logo/logo-bg.webp"  type="image/webp"  media="(min-width: 1200px)")
                        source(srcset="assets/img/logo/logo-bg.webp"  type="image/webp"  media="(min-width: 768px) and (max-width: 1199px)")
                        source(srcset="assets/img/logo/logo-bg-sm.webp"  type="image/webp"  media="(max-width: 767px)")
                        img(src='assets/img/logo/logo-bg.webp', alt='img')
                .block-logo__logo
                    img(src='assets/img/home/svg/logo.svg', alt='img')

                .block-logo__description
                    p._f-12._w-700._eb Работаем с 2014 года
                    p
                        span._f-12._w-700._c7 Строительство домов
                        span._f-12._w-400._c7 в пригороде Уфы<br> из бруса, газобетона и кирпича

            a(href="#!").btn.btn--success.header__button
                span Получить консультацию <br>  мастера бесплатно
                img(data-src='assets/img/home/webp/worker.webp', alt='img')

            .header__info.info
                span._f-12._w-400 Без выходных с 9:00 до 18:00
                .info__phone._f-24._w-700 + 7 (983) 465 65-65
                a(href='#!')._f-16._w-600 Заказать звонок


.header__menu-wrapper
    .container
        nav.header__menu.menu
            ul.menu__list.menu-list
                li.menu__item
                    a.menu__link._f-18._w-600(href="#!") Готовые дома
                    svg
                        use(xlink:href='/assets/img/sprite.svg#arrow-down')
                .menu-list__hidden-sm-area
                    li.menu__item
                        a.menu__link._f-18._w-600(href="#!") Строительство под заказ
                    li.menu__item
                        a.menu__link._f-18._w-600(href="#!") Дизайн интерьеров



