footer#footer.footer
    .container
        .footer__body
            .footer__logo-block.block-logo
                .imgs
                    picture
                        source(srcset="assets/img/logo/logo-bg.webp"  type="image/webp"  media="(min-width: 1200px)")
                        source(srcset="assets/img/logo/logo-bg.webp"  type="image/webp"  media="(min-width: 768px) and (max-width: 1199px)")
                        source(srcset="assets/img/logo/logo-bg-sm.webp"  type="image/webp"  media="(max-width: 767px)")
                        img(src='assets/img/logo/logo-bg.webp', alt='img')
                .block-logo__logo
                    img(src='assets/img/home/svg/logo.svg', alt='img')

                .block-logo__description
                    p._f-12._w-700._eb Работаем с 2014 года
                    p
                        span._f-12._w-700._c7 Строительство домов
                        span._f-12._w-400._c7 &nbsp;в пригороде Уфы<br> из бруса, газобетона и кирпича

            .footer__soc
                .soc
                    .contacts-content__text-low._f-12._w-400._93 Пишите нам мы онлайн:
                    a(href="#!").soc__item
                        svg
                            use(xlink:href='/assets/img/sprite.svg#Facebook')
                    a(href="#!").soc__item
                        svg
                            use(xlink:href='/assets/img/sprite.svg#VK')
                    a(href="#!").soc__item
                        svg
                            use(xlink:href='/assets/img/sprite.svg#wa')
                    a(href="#!").soc__item
                        svg
                            use(xlink:href='/assets/img/sprite.svg#Instagram')
            .footer__contacts
                .contacts-content__info
                    .contacts-content__text._f-12._w-400._bd Без выходных с 9:00 до 18:00
                    .contacts-content__phone._f-24._w-700._2f + 7 (983) 465 65-65
                    a(href="#!").contacts-content__email._f-16._w-600._eb
                        span Заказать звонок

                    a(href="#!").contacts-content__order._f-16._w-600._eb
                        span Заказать звонок

            .footer__politic
                p._f-12._w-400 Политика конфиденциальности и обработки персональных данных
                p._f-12._w-400 Задизайнено в &nbsp;
                    span._f-12._w-700 ГДЕТО

