section#block-6-stage-single.block-6-stage
 .container
    .block-6-stage__title
        h2._f-40._w-700._28 6 простых этапов строительства <br> вашего дома

    .block-6-stage__buttons
        button(type='button').arrow-stage-2-prev.swiper-arrow.arrow--prev
            svg
                use(xlink:href='/assets/img/sprite.svg#arrow-left')
        button(type='button').arrow-stage-2-next.swiper-arrow.arrow--next
            svg
                use(xlink:href='/assets/img/sprite.svg#arrow-right')
        .swiper-container.swiper-stage-2
            ul.swiper-wrapper
                li.swiper-slide
                    .block-6-stage__button._f-14._w-700._a8 1 этап
                li.swiper-slide
                    .block-6-stage__button._f-14._w-700._a8 2 этап
                li.swiper-slide
                    .block-6-stage__button._f-14._w-700._a8 3 этап
                li.swiper-slide
                    .block-6-stage__button._f-14._w-700._a8 4 этап
                li.swiper-slide
                    .block-6-stage__button._f-14._w-700._a8 5 этап
                li.swiper-slide
                    .block-6-stage__button._f-14._w-700._a8 6 этап

    .swiper-stage-inner-2.swiper-container.block-6-stage__inner.stage-inner
        ul.swiper-wrapper
            li.stage-inner__item.swiper-slide
                .stage-inner__img
                    .imgs
                        img(src='assets/img/block-6/i-4.webp', alt='img')
                .stage-inner__column
                    .stage-inner__pre-title._f-14._w-600._b1
                    .stage-inner__title
                        h4._f-30._w-600._28  Заключаем договор
                    .stage-inner__line
                        .chip
                            .chip__icon
                                svg
                                    use(xlink:href='/assets/img/sprite.svg#mark')
                            .chip__text._f-18._w-400._2f Выбираем место под строительство




            li.stage-inner__item.swiper-slide
                .stage-inner__img
                    .imgs
                        img(src='assets/img/block-6/i-5.webp', alt='img')
                .stage-inner__column
                    .stage-inner__pre-title._f-14._w-600._b1 2 -3 недели
                    .stage-inner__title
                        h4._f-30._w-600._28  Возведение фундамента.
                    .stage-inner__line
                        .chip
                            .chip__icon
                                svg
                                    use(xlink:href='/assets/img/sprite.svg#mark')
                            .chip__text._f-18._w-400._2f Бетон М-250, нагрузка рассчитывается строго по проекту.


            li.stage-inner__item.swiper-slide
                .stage-inner__img
                    .imgs
                        img(src='assets/img/block-6/i-3.webp', alt='img')
                .stage-inner__column
                    .stage-inner__pre-title._f-14._w-600._b1 2 -3 недели
                    .stage-inner__title
                        h4._f-30._w-600._28  Возведение стен, перекрытий<br>и монтаж кровли
                    .stage-inner__line
                        .chip
                            .chip__icon
                                svg
                                    use(xlink:href='/assets/img/sprite.svg#mark')
                            .chip__text._f-18._w-400._2f Стены из заводского газобетона автоклавного производства,  облицовочного кирпича. Перекрытия только из новых железобетонных плит по ГОСТу и СНиПу.

                    .stage-inner__line.swiper-slide
                        .chip
                            .chip__icon
                                svg
                                    use(xlink:href='/assets/img/sprite.svg#mark')
                            .chip__text._f-18._w-400._2f Крыша утеплённая из заводского профнастила
                    .stage-inner__line
                        .chip
                            .chip__icon
                                svg
                                    use(xlink:href='/assets/img/sprite.svg#mark')
                            .chip__text._f-18._w-400._2f Монтаж заводских МПО и входной двери с терморазрывом

            li.stage-inner__item.swiper-slide
                .stage-inner__img
                    .imgs
                        img(src='assets/img/block-6/i-6.webp', alt='img')
                .stage-inner__column
                    .stage-inner__pre-title._f-14._w-600._b1 2 -3 недели
                    .stage-inner__title
                        h4._f-30._w-600._28  Монтаж инженерных коммуникаций (электрика, вода, канализация).
                    .stage-inner__line
                        .chip
                            .chip__icon
                                svg
                                    use(xlink:href='/assets/img/sprite.svg#mark')
                            .chip__text._f-18._w-400._2f Установка счётчиков, оформление необходимых документов под ключ.




            li.stage-inner__item.swiper-slide
                .stage-inner__img
                    .imgs
                        img(src='assets/img/block-6/i-7.webp', alt='img')
                .stage-inner__column
                    .stage-inner__pre-title._f-14._w-600._b1 1 неделя
                    .stage-inner__title
                        h4._f-30._w-600._28  Внутренняя отделка (штукатурка, полы).
                    .stage-inner__line
                        .chip
                            .chip__icon
                                svg
                                    use(xlink:href='/assets/img/sprite.svg#mark')
                            .chip__text._f-18._w-400._2f Готовые стены под обои, тёплые полы под ламинат.

                    .stage-inner__line
                        .chip
                            .chip__icon
                                svg
                                    use(xlink:href='/assets/img/sprite.svg#mark')
                            .chip__text._f-18._w-400._2f Установка немецких радиаторов с высокой теплоотдачей.



            li.stage-inner__item.swiper-slide
                .stage-inner__img
                    .imgs
                        img(src='assets/img/block-6/i-8.webp', alt='img')
                .stage-inner__column
                    .stage-inner__pre-title._f-14._w-600._b1
                    .stage-inner__title
                        h4._f-30._w-600._28  Получаете ключи и въезжаете.





        button(type="button").stage-inner__button-2
            span._f-12._w-700._2f    Следующий шаг
            svg
                use(xlink:href='/assets/img/sprite.svg#Arrow-2')









