

section#plan-single.reviews.reviews--single.plan-single
    .container
        span.dotted-single--plane.dotted-single
        .plan-single___title
            h2._f-40._w-700._28 Планировка 1 этажа
        .reviews__body
            .reviews__low
                        .reviews-card__body
                            .reviews-card__column.reviews-card__column--plan
                                .imgs
                                    img(src='assets/img/single/i-plane.webp', alt='img')

                            .reviews-card__right
                                .reviews-card__title-single._f-30._w-600._28 Площадь первого этажа 75 м.кв
                                .reviews-card__line--single
                                    span._w-400 Гараж:
                                    span.dotted-single
                                    span 20.4 м.кв
                                .reviews-card__line--single
                                    span._w-400 Тамбур:
                                    span.dotted--single
                                    span 5.1 м.кв
                                .reviews-card__line--single
                                    span._w-400 Холл:
                                    span.dotted-single
                                    span 5.3 м.кв
                                .reviews-card__line--single
                                    span._w-400 Гостиная:
                                    span.dotted--single
                                    span 19 м.кв

                                .reviews-card__line--single
                                    span._w-400 Кухня:
                                    span.dotted-single
                                    span 9.1 м.кв

                                .reviews-card__line--single
                                    span._w-400 Санузел:
                                    span.dotted-single
                                    span 2.8 м.кв

                                .reviews-card__line--single
                                    span._w-400 Кабинет:
                                    span.dotted--single
                                    span 9.6 м.кв

                                .reviews-card__line--single
                                    span._w-400 Топочная:
                                    span.dotted-single
                                    span 2.3 м.кв















