section#reviews--single.reviews.reviews--single
    .container
        .reviews__body
                .reviews__low
                        .reviews-card__body.reviews-card__body--single
                            .reviews-card__column.reviews-card__column--single
                                a(href="index.html").btn.btn--success.reviews--single__button
                                    span Назад на главную
                                .single-slider-top.slider-single-top-js.swiper-container
                                    ul.slider__body.swiper-wrapper
                                        li.reviews-card__left.swiper-slide
                                            a(href="#!" rel=".slide-player-1-popup").popup-init-js
                                                svg
                                                    use(xlink:href='/assets/img/sprite.svg#Vector-video')
                                            .imgs
                                                img(src='assets/img/single/i-1-1.webp', alt='img')
                                        li.reviews-card__left.reviews-card__left--single.swiper-slide
                                            //a(href="#!" rel="slide-player-2-popup").popup-player-init-js
                                                svg
                                                    use(xlink:href='/assets/img/sprite.svg#arrow-yellow')
                                            .imgs
                                                img(src='assets/img/single/i-2-2.webp', alt='img')
                                        li.reviews-card__left.reviews-card__left--single.swiper-slide
                                            //a(href="#!" rel="slide-player-3-popup").popup-player-init-js
                                                svg
                                                    use(xlink:href='/assets/img/sprite.svg#arrow-yellow')
                                            .imgs
                                                img(src='assets/img/single/i-3-3.webp', alt='img')


                                .single-slider-bottom.slider-single-bottom-js.swiper-container
                                        .slider__body.swiper-wrapper
                                            li.galery__item.swiper-slide
                                                a(href= "#!" rel="#hidden-2"  name="0" ).button-popup
                                                .imgs
                                                    img(src='assets/img/single/i-1-1.webp', alt='img')
                                            li.galery__item.swiper-slide
                                                a(href= "#!" rel="#hidden-2"  name="1" ).button-popup
                                                .imgs
                                                    img(src='assets/img/single/i-2-2.webp', alt='img')
                                            li.galery__item.swiper-slide
                                                a(href= "#!" rel="#hidden-2"  name="2" ).button-popup
                                                .imgs
                                                    img(src='assets/img/single/i-3-3.webp', alt='img')
                                        .slider-single-bottom-prev.swiper-arrow.arrow--prev
                                            svg
                                                use(xlink:href='/assets/img/sprite.svg#arrow-left')

                                        .slider-single-bottom-next.swiper-arrow.arrow--next
                                            svg
                                                use(xlink:href='/assets/img/sprite.svg#arrow-right')



                            .reviews-card__right
                                .reviews-card__pre-title--single._f-16._w-400._84 Стоимость первого этапа:
                                .reviews-card__title--single._f-60._w-700._2f от 500 руб.
                                .reviews-card__squear--single.jucb.alic
                                    .flex
                                        span._w-400 Жилая площадь:
                                        span._w-700 &nbsp;157 кв.м
                                    .flex
                                        span._w-400 Общая  площадь:
                                        span._w-700 &nbsp;257 кв.м
                                span._f-16._w-400._84 Цена:
                                .reviews-card__price--single
                                    span._f-60._w-700    от
                                    span._f-60._w-700._eb    2 500 000
                                    span._f-60._w-700    руб.
                                .reviews-card__line--single
                                            span._w-400 Фундамент:
                                            span.dotted-single
                                            span монолитная плита
                                .reviews-card__line--single
                                            span._w-400 Cтены:
                                            span.dotted-single
                                            span газобетон, керамоблок
                                .reviews-card__line--single
                                            span._w-400 Перекрытия:
                                            span.dotted-single
                                            span ж/б плиты
                                .reviews-card__line--single
                                            span._w-400 Кровля:
                                            span.dotted-single
                                            span металлочерепица
                                a(href="#!" rel=".popup-form").popup-init-js.btn.btn--success.reviews-card__button.reviews-card__button--single
                                    span оставить заявку

                                a(href="#")._b1.reviews-card__download
                                    //span Скачать смету







