



section#reviews.reviews
    .container
        .reviews__title
            h2._f-40._w-700._28 Отзывы клиентов которым мы уже <br>  построили уютный дом
        .reviews__body
                .reviews__top
                        button(type='button').reviews-top-prev.swiper-arrow.arrow--prev
                            svg
                                use(xlink:href='/assets/img/sprite.svg#arrow-left')
                        button(type='button').reviews-top-next.swiper-arrow.arrow--next
                            svg
                                use(xlink:href='/assets/img/sprite.svg#arrow-right')

                        .reviews-top-swiper.swiper-container
                            ul.slider-reviews-top.swiper-wrapper
                                    li.reviews__item.slider-card.swiper-slide
                                        .slider-card__title
                                            p Коттедж 2 эт.
                                            p 257 кв.м

                                    li.reviews__item.slider-card.swiper-slide
                                        .slider-card__title
                                            p Коттедж 2 эт.
                                            p 257 кв.м

                                    li.reviews__item.slider-card.swiper-slide
                                        .slider-card__title
                                            p Коттедж 2 эт.
                                            p 257 кв.м

                                    li.reviews__item.slider-card.swiper-slide
                                        .slider-card__title
                                            p Коттедж 2 эт.
                                            p 257 кв.м

                                    li.reviews__item.slider-card.swiper-slide
                                        .slider-card__title
                                            p Коттедж 2 эт.
                                            p 257 кв.м

                                    li.reviews__item.slider-card.swiper-slide
                                        .slider-card__title
                                            p Коттедж 2 эт.
                                            p 257 кв.м

                                    li.reviews__item.slider-card.swiper-slide
                                        .slider-card__title
                                            p Коттедж 2 эт.
                                            p 257 кв.м



                .reviews__low.reviews-low
                    button(type='button').reviews-low-prev.swiper-arrow.arrow--prev
                        svg
                            use(xlink:href='/assets/img/sprite.svg#arrow-left')
                    button(type='button').reviews-low-next.swiper-arrow.arrow--next
                        svg
                            use(xlink:href='/assets/img/sprite.svg#arrow-right')
                    .reviews-low-swiper.swiper-container
                        ul.slider-reviews-low.swiper-wrapper
                               li.reviews__item.reviews-card.swiper-slide
                                    .reviews-card__body
                                        .reviews-card__column

                                            .reviews-card__left
                                                section.reviews-card-left
                                                    .container
                                                         .posts__item.posts-item
                                                                    a(href="#!" rel=".slide-player-1-popup").popup-init-js
                                                                        svg
                                                                            use(xlink:href='/assets/img/sprite.svg#Vector-video')
                                                                    .posts-item__img.imgs
                                                                        img(src='assets/img/block-8/galary-1.webp', alt='img')



                                            .reviews-card__galery.reviews-card__galery-1.swiper-container
                                                        .slider__body.galery.swiper-wrapper
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1"  name="0" ).button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-1.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="1").button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-2.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="2").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/galary-3.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="3").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/i-1.webp', alt='img')
                                                        button.galery-arrow.arrow-prev.reviews-card-arrow-prev-1(type='button')
                                                            svg
                                                                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
                                                        button.galery-arrow.arrow-next.reviews-card-arrow-next-1(type='button')
                                                            svg
                                                                use(xlink:href='/assets/img/sprite.svg#arrow-right')

                                        include includes/revieves-right

                               li.reviews__item.reviews-card.swiper-slide
                                    .reviews-card__body
                                        .reviews-card__column

                                            .reviews-card__left
                                                section.reviews-card-left
                                                    .container
                                                         .posts__item.posts-item
                                                                    a(href="#!" rel=".slide-player-1-popup").popup-init-js
                                                                        svg
                                                                            use(xlink:href='/assets/img/sprite.svg#Vector-video')
                                                                    .posts-item__img.imgs
                                                                        img(src='assets/img/block-8/galary-1.webp', alt='img')



                                            .reviews-card__galery.reviews-card__galery-2.swiper-container
                                                        .slider__body.galery.swiper-wrapper
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1"  name="0" ).button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-1.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="1").button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-2.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="2").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/galary-3.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="3").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/i-1.webp', alt='img')
                                                        button.galery-arrow.arrow-prev.reviews-card-arrow-prev-2(type='button')
                                                            svg
                                                                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
                                                        button.galery-arrow.arrow-next.reviews-card-arrow-next-2(type='button')
                                                            svg
                                                                use(xlink:href='/assets/img/sprite.svg#arrow-right')

                                        include includes/revieves-right

                               li.reviews__item.reviews-card.swiper-slide
                                    .reviews-card__body
                                        .reviews-card__column

                                            .reviews-card__left
                                                section.reviews-card-left
                                                    .container
                                                         .posts__item.posts-item
                                                                    a(href="#!" rel=".slide-player-1-popup").popup-init-js
                                                                        svg
                                                                            use(xlink:href='/assets/img/sprite.svg#Vector-video')
                                                                    .posts-item__img.imgs
                                                                        img(src='assets/img/block-8/galary-1.webp', alt='img')



                                            .reviews-card__galery.reviews-card__galery-3.swiper-container
                                                        .slider__body.galery.swiper-wrapper
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1"  name="0" ).button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-1.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="1").button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-2.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="2").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/galary-3.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="3").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/i-1.webp', alt='img')
                                                        button.galery-arrow.arrow-prev.reviews-card-arrow-prev-3(type='button')
                                                            svg
                                                                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
                                                        button.galery-arrow.arrow-next.reviews-card-arrow-next-3(type='button')
                                                            svg
                                                                use(xlink:href='/assets/img/sprite.svg#arrow-right')

                                        include includes/revieves-right



                               li.reviews__item.reviews-card.swiper-slide
                                    .reviews-card__body
                                        .reviews-card__column

                                            .reviews-card__left
                                                section.reviews-card-left
                                                    .container
                                                         .posts__item.posts-item
                                                                    a(href="#!" rel=".slide-player-1-popup").popup-init-js
                                                                        svg
                                                                            use(xlink:href='/assets/img/sprite.svg#Vector-video')
                                                                    .posts-item__img.imgs
                                                                        img(src='assets/img/block-8/galary-1.webp', alt='img')



                                            .reviews-card__galery.reviews-card__galery-4.swiper-container
                                                        .slider__body.galery.swiper-wrapper
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1"  name="0" ).button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-1.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="1").button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-2.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="2").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/galary-3.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="3").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/i-1.webp', alt='img')
                                                        button.galery-arrow.arrow-prev.reviews-card-arrow-prev-4(type='button')
                                                            svg
                                                                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
                                                        button.galery-arrow.arrow-next.reviews-card-arrow-next-4(type='button')
                                                            svg
                                                                use(xlink:href='/assets/img/sprite.svg#arrow-right')

                                        include includes/revieves-right




                               li.reviews__item.reviews-card.swiper-slide
                                    .reviews-card__body
                                        .reviews-card__column

                                            .reviews-card__left
                                                section.reviews-card-left
                                                    .container
                                                         .posts__item.posts-item
                                                                    a(href="#!" rel=".slide-player-1-popup").popup-init-js
                                                                        svg
                                                                            use(xlink:href='/assets/img/sprite.svg#Vector-video')
                                                                    .posts-item__img.imgs
                                                                        img(src='assets/img/block-8/galary-1.webp', alt='img')



                                            .reviews-card__galery.reviews-card__galery-5.swiper-container
                                                        .slider__body.galery.swiper-wrapper
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1"  name="0" ).button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-1.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="1").button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-2.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="2").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/galary-3.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="3").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/i-1.webp', alt='img')
                                                        button.galery-arrow.arrow-prev.reviews-card-arrow-prev-5(type='button')
                                                            svg
                                                                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
                                                        button.galery-arrow.arrow-next.reviews-card-arrow-next-5(type='button')
                                                            svg
                                                                use(xlink:href='/assets/img/sprite.svg#arrow-right')

                                        include includes/revieves-right




                               li.reviews__item.reviews-card.swiper-slide
                                    .reviews-card__body
                                        .reviews-card__column

                                            .reviews-card__left
                                                section.reviews-card-left
                                                    .container
                                                         .posts__item.posts-item
                                                                    a(href="#!" rel=".slide-player-1-popup").popup-init-js
                                                                        svg
                                                                            use(xlink:href='/assets/img/sprite.svg#Vector-video')
                                                                    .posts-item__img.imgs
                                                                        img(src='assets/img/block-8/galary-1.webp', alt='img')



                                            .reviews-card__galery.reviews-card__galery-6.swiper-container
                                                        .slider__body.galery.swiper-wrapper
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1"  name="0" ).button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-1.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="1").button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-2.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="2").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/galary-3.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="3").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/i-1.webp', alt='img')
                                                        button.galery-arrow.arrow-prev.reviews-card-arrow-prev-6(type='button')
                                                            svg
                                                                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
                                                        button.galery-arrow.arrow-next.reviews-card-arrow-next-6(type='button')
                                                            svg
                                                                use(xlink:href='/assets/img/sprite.svg#arrow-right')

                                        include includes/revieves-right



                               li.reviews__item.reviews-card.swiper-slide
                                    .reviews-card__body
                                        .reviews-card__column

                                            .reviews-card__left
                                                section.reviews-card-left
                                                    .container
                                                         .posts__item.posts-item
                                                                    a(href="#!" rel=".slide-player-1-popup").popup-init-js
                                                                        svg
                                                                            use(xlink:href='/assets/img/sprite.svg#Vector-video')
                                                                    .posts-item__img.imgs
                                                                        img(src='assets/img/block-8/galary-1.webp', alt='img')



                                            .reviews-card__galery.reviews-card__galery-7.swiper-container
                                                        .slider__body.galery.swiper-wrapper
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1"  name="0" ).button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-1.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="1").button-popup
                                                                .imgs
                                                                    img(src='assets/img/block-8/galary-2.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="2").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/galary-3.webp', alt='img')
                                                            .galery__item.swiper-slide
                                                                a(href= "#!" rel="#hidden-1" name="3").button-popup
                                                                .imgs
                                                                        img(src='assets/img/block-8/i-1.webp', alt='img')
                                                        button.galery-arrow.arrow-prev.reviews-card-arrow-prev-7(type='button')
                                                            svg
                                                                    use(xlink:href='/assets/img/sprite.svg#arrow-left')
                                                        button.galery-arrow.arrow-next.reviews-card-arrow-next-7(type='button')
                                                            svg
                                                                use(xlink:href='/assets/img/sprite.svg#arrow-right')

                                        include includes/revieves-right






















