extends ../layout/main
block header
  include ../modules/first
block content
  include ../modules/bunner
  include ../modules/block-1
  include ../modules/quiz
  include ../modules/block-3
  include ../modules/block-4
  include ../modules/projects
  include ../modules/block-6
  include ../modules/block-7
  include ../modules/reviewes
  include ../modules/block-9
  include ../modules/block-10
  include ../modules/tabs
  include ../modules/block-12
  include ../modules/contacts

block footer
  include ../modules/popup
  include ../modules/footer
  