extends ../layout/main
block header
  include ../modules/first
block content
  include ../modules/bunner
  include ../modules/block-1
  include ../modules/block-2
  include ../modules/block-3
  include ../modules/block-4
  include ../modules/block-5
  include ../modules/block-6
  include ../modules/block-7
  include ../modules/block-8
  include ../modules/block-9
  include ../modules/block-10
  include ../modules/block-11
  include ../modules/block-12
  include ../modules/block-13
  include ../modules/block-14
  //include ../modules/posts
  //include ../modules/posts-low
  //include ../modules/posts-num
  //include ../modules/projects
  //include ../modules/contacts
  //include ../modules/slyder-new
  //include ../modules/slider-infinity
  //include ../modules/slider-track
  //include ../modules/vidget
  //include ../modules/inputs

block footer
  //include ../modules/modal
  //include ../modules/loader
  //include ../modules/start-button
  include ../modules/popup
  include ../modules/footer
  