extends ../layout/main
block header
    include ../modules/first
block content
    include ../modules/bunner-single
    include ../modules/project-single
    include ../modules/plan-single
    include ../modules/plan-stages
    include ../modules/12-single
    //
    //include ../modules/block-1
    //include ../modules/block-2
    //include ../modules/block-3
    //include ../modules/block-4
    //include ../modules/block-5
    //include ../modules/block-6
    //include ../modules/block-7
    //include ../modules/block-8
    //include ../modules/block-9
    //include ../modules/block-10
    //include ../modules/block-11
    //include ../modules/block-12
    //include ../modules/block-13

block footer
    include ../modules/popup
    include ../modules/footer
