@media (max-width: 767px)
	.bunner__body
		padding: 163px 0 0 0
	.bunner__pre-title-sm
		display: none
	.header__body
		grid-template-columns:  1fr
	.header__button
		grid-column: 1/3
	.block-logo__logo
		img
			width: 100px!important
			margin: -8px 0 0 0
	.block-logo__description, .header__info, .bunner__items, .bunner__button img, .bunner__footer  ._f-12, .bunner__key, .bunner__pre-title, .header__button
		display: none
	.bunner__pre-title-sm
		display: block
		text-transform: uppercase
		text-align: center
		width: 100%
		line-height: 1.4
	.header__block-logo img
		width: 118px
		height: 80px
	.header__block-logo .imgs
		top: 0
		width: 118px
		height: 80px
		left:   50%
		transform: translate(-50%,0%)
	.header .block-logo__logo
		height: 79px
		margin: 0 0 0 0
	.header__block-logo
		height: 80px
		min-height: 79px
		+jucc
		padding: 0 0 0 0
	.header
		height: 80px!important

	.menu__item
		padding: 0 26px 0

	.menu__hidden-area
		padding: 10px  0
		background: white
		width: 100%
		margin: 18px 0 0 0
		transition: all .2s ease-in-out
		transform-origin: top
		a.menu__link
			color:  #282828

	.menu__item:nth-child(2)
		padding-top: 15px

	.single-slider-bottom .slick-slide .imgs
		width: 80px

	.single-slider-bottom	.galery__item
			height: 68px!important
	.single-slider-bottom .slick-slide
		margin: 0 5px
		height: 68px
		.galery__item
			min-width: 80px!important
	.single-slider-bottom .slider__body
		margin: 0
		max-width: 320px
		width: 100%
	.single-slider-top
		max-width: 320px
		width: 100%
	.reviews-card__column--single
		align-items: center
	.popup-common
			.slick-arrow
				width: 30px
				height: 30px
				opacity: .6
				svg
					position: absolute
					width: 15px
					height: 15px
				&.slick-prev
					left: 57px!important
				&.slick-next
					right: 57px!important
	.reviews--single__button
		min-width: 300px
	.reviews--single__button span
		font-size: 14px


	.bunner__title
		&.bunner__title--single
			text-align: left

	.reviews
		&.reviews--single
			margin: 0
			padding:  0 10px


	.plan-single___title
		+jucc

	.reviews-card__column--plan
		min-height: 312px
		.imgs
			left: 50%
			transform: translate(-50%,0%)





	.QContent__column
		max-height: 400px
		padding: 0 10px



	.single-slider-bottom
		margin: 30px 0
		width: 100%
		max-width: 300px

	.bunner__body
		+jucc
	.reviews-card__squear--single
		padding: 0 0 0 0

	.plan-single___title
		margin: 12px 0 12px


	.bunner__title
		text-align: center
		width: 100%
		margin: 10px 0 0 0
	.bunner__title span
		margin: 0px
	.bunner__text
		width: 100%
		padding: 0 15px
		margin: 14px 0 2px
		p
			text-align: center
			font-size: 14px
		br
			display: none
	.bunner__button
		width: 100%
		max-width: 300px
		margin: 0 auto 0
		font-size: 12px
		height: 80px
		+center
		padding: 0 20px
		span
			text-align: center
			padding: 0 0 0 0
	.bunner, .first
		min-height: 482px
		max-height: 482px
	.header__menu
		margin: 0 0 0 0

	.header__menu-wrapper
		top: 89px
		display: block
		padding: 15px 0 0 0

	.projects-card__title
		margin: 19px 0 0

	.menu-list
		+alis
		width: 100%
		transition: all .2s ease-in-out
	.menu__item
		width: 100%
		+jucs
		margin: 0 0
		transition: all .2s ease-in-out
		svg
			stroke: #FFFFFF
			width: 10px
			height: 10px
			margin: 0 0 0 auto
			transition: all .2s ease-in-out

	.menu-list__hidden-sm-area
		transition: all .2s ease-in-out

	//======.block-1=======
	.block-1
		br
			display: none
	.block-1__wrapper
		padding: 0 10px
	.block-1__img
		width: 110px
		height: 46px
		top: -20px
	.block-1__chip
		width: 105px
		height: 31px
	.block-1__button
		width: 100%
		max-width:  300px
		margin: 0 auto
		height: 84px
		font-size: 15px

	.block-1__body
		margin: 56px auto 45px

	.block-1__title
		margin: -30px 0 0 0
	.block-1__title span
		font-size: 20px
	.block-1__text
		font-size: 16px
		padding: 0 10px
		line-height: 1.5
		margin: 12px 0 0

	.block-1__button
		width: calc(100% + 40px)
		margin: 0 0 0 -20px
		bottom: -18px

	//========================================
	.quiz__top
		height: auto
		padding: 149px 10px 22px
		border-radius: 0
	.quiz__img
		width: 320px
		height: 116px
		left: 50%
		transform: translate(-50%, 0%)


	.quiz__pre-title
		font-size: 14px
		text-align: center
	.quiz__title
		h2
			font-size: 22px
			text-align: center
			br
				display: none
	.quiz__bar
		margin: -3px 0 10px
		border-radius: 0
	.Quiz-bar__track
		height: 24px
		border-radius: 0
	.QContent
		grid-template-columns: 1fr
		padding: 18px 0 30px
	.quiz__title
		margin: 12px 0 0
	.QContent__title
		padding: 0 20px 17px
		h3
			font-size:  18px
			text-align: center
			line-height: 1.2
			span
				&:first-child
					width: 100%
					display: inline-block
	.QContent__cards
		grid-template-columns: repeat(2, 145px)
		justify-content: center
		margin: 0 0 38px 0
		column-gap: 10px
		row-gap: 20px
	.QCard__img
		width: 145px
		height: 82px
	.QContent__person
		display: none

	.QContent__block-button
		span._f-12
			display: none
		transform: translate(-50%, 0%)
		left: 50%
		bottom: -40px
	.quiz__body:after
		display: none
	.QContent__title
		+jucc
	.quiz__body
		box-shadow: none
	.QContent__block-button
		width: 100%
		padding: 0 10px
	.QContent__button
		height: 88px
		font-size: 15px
		margin: 0 auto
		width: 100%
	.QCard__title
		margin: 8px 0 0
		text-align: center
	.QCard__img:after
		width: 15px
		height: 15px
		right: 8px
		bottom: 6px
	//======block-3=======
	.block-3
		margin: 0
	.block-3__title
		br
			display: none
	.block-3__body
		padding: 0 10px
	.block-3__title
		margin: 0 0 39px
	.block-3__cards
		row-gap:    40px
	//======4=========
	.block-4__title
		padding: 0 7px
	.block-4__title h2
		line-height: 1.2
	.projects-card
		min-height: 470px
		background: #FFFFFF
	.block-4, .block-5
		padding: 0 10px
		margin: 92px 0 0
	.projects-card__button
		max-width: 280px
		height: 66px
		margin: 0 auto
		+center
		text-align: center
	.block-4-projects
		grid-template-columns: 1fr
		row-gap: 10px
	.projects-card__body
		+alic
	.block-4-projects
		margin: 27px auto 0
		max-width: 400px
	.block-5__title
		padding: 0 20px

	.block-5__content, .projects-js
		grid-template-columns: 1fr
		justify-items: center

	.projects-card__body
		padding: 21px 10px 32px
	.projects-card__button
		width:  100%
	.block-5__content
		padding: 0 10px
	.projects-card__over
		margin: 18px 0 0 0
	.future-card
		align-items: center
		box-shadow: 0px 4px 120px rgba(46, 36, 25, 0.25)
		border-radius: 10px
	.future-card__img, .future-card__line
		width: 100%
	.future-card__line--cost
		margin: 0 0 0 0
		justify-content: center
	.future-card__price
		font-size: 30px

	.future-card__button
		width: 100%
		height: 60px
		margin:  auto 0 0

	.block-4
		margin: 3px 0 0

	.block-5
		margin: 87px 0 50px
	.projects-js
		margin: 34px 0 34px
	.block-1__body
		width:  100%
		max-width: 300px
	.block-1__chip-wrap
		font-size: 18px

	.block-6__form
		margin: 162px auto 0
		+fdc
		align-items: center
		padding: 43px 10px 6px
		max-width: 400px
		width: calc(100% - 20px)
	.block-6
		margin: 57px 0 0

	.block-6__title
		padding: 0 20px
		h2
			line-height: 1.23


	br
		display: none

	.block-6__text
		margin: 20px 25px 0
		line-height: 1.5

	.block-6-form__body
		grid-template-columns:  1fr
		width: 100%
		height: auto
		row-gap: 19px
		background: transparent
		position: relative
		box-shadow: none
		&:after
			content:   ""
			background: white
			position: absolute
			width: 100%
			height: 215px
			top: 0
			left: 0px
			z-index: -1
			border-radius: 10px

	.block-6-form__pre-title, .block-6-form__title h3, .block-6-form__text, .block-6__title  h2
		text-align: center
		br
			display: none
	.block-6-form__content
		margin: 4px 0 0
	.future-card
		padding: 9px 10px 18px

	.future-card__img
		position: relative
		padding: 0 0 155px

	.future-card__title
		margin: 12px 0 19px
	.block-6-form__title
		margin: 26px 0 0
	.future-card
		min-height: 600px
		max-width: 400px
		width: 100%
		margin: 0 auto
	.future-card__price
		margin: 10px 0 22px 0
		span
			font-size:  30px


	.block-6-form__body
		margin: 30px 0 0

	.block-6-form__item:nth-child(3)
		width: calc(100% + 40px)
		margin: 0 0 0 -20px

	.projects-cards
		grid-template-columns: repeat(auto-fill,minmax(270px,1fr))

	.block-6-stage__buttons
		margin: 27px 0 27px


	.calculator-section
		width: 100%
		input[type=range]
			width: 100%
	.calculator-section__number, .range-currency
			font-size: 30px
	.range-currency
		left: 155px

	.block-6-form__politic
		grid-column: 1/2
		display: grid
		grid-template-columns: 11px 1fr
		column-gap: 10px
		align-items: start
		width: 100%
		margin: -4px 0 0 -20px
		span
			opacity: 0.7
			line-height: 1.4
			color: white

	.block-12 .block-6-form__politic    span
		color: white

	.popup	.block-6-form__politic
		span
			color: $font
	.quiz .block-6-form__politic
		span
			color: $font
	.block-6__button
		max-width: 300px
		width: 100%
		height: 50px

	.block-6-form__button
		width: 100%
		height: 60px
		margin: 17px 0 0

	.block-6-form .imgs img
		object-fit: cover

	.block-6-form__item
		label
			text-align: center
			display: inline-block
			width:  100%
		input
			height: 56px
			border-radius: 5px
			//background: white
			border: 0.5px solid #E4E4E4




	.block-6__wrapper-imgs
		height: 572px
		object-fit: cover

	.block-6-stage__title h2    br
		display: none

	.stage-inner__item
		flex-direction: column

	.stage-inner__pre-title
		font-size: 14px


	.block-9 .block-6-form__politic span
		color: #393939


	.stage-inner__column .stage-inner__title, .stage-inner__column .stage-inner__line
			+jucc
			text-align: center

	.stage-inner__title
		padding: 0 22px
		margin: 14px 0 20px
		h4
			br
				display: none
	.stage-inner__column
		.chip
			grid-template-columns: 1fr
			justify-items: center
			row-gap: 10px
	.chip__text
			line-height: 1.5
	.stage-inner__line
		margin: 0 0 13px



	.swiper-stage
		max-width: 180px
		margin: 0 auto


	.block-6-stage__buttons .swiper-arrow
		display: block
		top: 50%
		transform: translate(0,-50%)
		background: #EBEBEB
	.block-6-stage__buttons	.arrow--prev
		left: 0
	.block-6-stage__buttons	.arrow--next
		right: 0

	.block-6-stage .stage-inner__button
			right: 50%
			transform: translate(50%, 124%)
			width: calc(100% - 20px)
			max-width: 300px
			top: auto
			bottom: 0
	.block-7__wrapper .imgs
		min-height: 483px
		height: 483px
		top: auto
		bottom: -496px
		//max-width: 300px
		right: 0
		left: auto

	.block-7__text
		margin: 15px 0 0
	.block-7__cards
		margin: 14px 0 483px
		max-width: 100%
		row-gap: 20px
		grid-template-columns: 1fr
		padding: 0 10px

	.block-7-card
		text-align: center

	.block-7-card__number
		font-size: 50px
	.block-7-card__title
		font-size: 18px
		margin: 8px 0 0

	.block-7-card__text
		font-size: 16px
		margin: 12px 0px 0
	.reviews__body
		margin: 22px 10px
	.reviews-card__body
		grid-template-columns:  1fr
		row-gap: 3px
	.slider-js-1 .slick-slide
		margin: 0 80px
	.reviews__top .slick-prev
		left: 0px
	.reviews__top .slick-next
		right: 10px


	.reviews__low .reviews-slick-arrow
			top: 86px
	.reviews__top .slick-prev
		left: 10px




	.reviews__low .reviews-slick-arrow
		width: 38px
		height: 38px
		background-color: #ffe484
		top: 86px
		svg
			width: 10px
			height: 15px

	.reviews__low
		margin: 24px 0 0




	.reviews
		padding: 45px 0px

	.reviews__title
		padding: 0 20px


	.reviews-card-review__head
		grid-template-columns: 1fr
		position: relative
		justify-items: center
	.reviews-card-review__head-title
		order: +1
		padding: 17px 0 0 0

	.reviews-card-review__text , .slick-slide div.reviews-card-review__hidden
		font-size: 16px

	.reviews-card-review__icon
		position: absolute
		right: 0
		top: 0

	.reviews-card-review__img
		width: 84px!important

	//.reviews-card-review__text
	//	margin: -12px 0 -9px


	//------------
	.reviews-card__galery
		overflow: hidden
		max-width: 300px
		margin: 0 auto
		position: relative

	.galery
		//overflow: hidden
		height: 212px!important
		transition: all .5s ease-in-out
		position: relative

	.galery__item
		height: 212px!important
		width: 100%
		min-width: 300px

		.imgs
			min-width: 300px
			width: 100%
			height: 212px!important
	.galery-arrow
		position: relative
		position: absolute
		top: 50%!important
		transform: translate(0%, -50%)!important
		z-index: 200
		width: 38px!important
		height: 38px!important
		background: #FFE484!important
		border-radius: 50%
		+center

		svg
			width: 14px
			height: 14px
			stroke: #2b2b2b
			stroke-width: 3px
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			z-index: 200
	.galery-arrow-left
		left: 9px
	.galery-arrow-right
		right: 9px








	.reviews-low-slick-prev, .reviews-low-slick-next
		display: none!important


	.reviews-card__left
		height: 211px!important
		margin: 0 auto
		display: none



	.reviews--single    .reviews-card__left
		min-height: 211px!important
	.reviews--single .galery__item .imgs
		min-width: 80px
		height:  68px!important
		left: 50%
		transform: translate(-50%, 0)
	.reviews-card-review
		padding: 12px 10px 47px

	.reviews-card__title-line
		grid-template-columns:  1fr
		margin: 16px 0 0
	.reviews-card-title-line__text
		order: +1
		+jucc
		margin: 27px 0 0

	.reviews-card-title-line__chip
		margin: 0 auto
		width: 100%!important
		font-size: 14px
	.reviews-card__right
		text-align: center
		margin: 20px 0 -20px


	.plan-stages
		margin: 30px 0 120px 0

	.plan-stages .block-6-stage__title h2
		text-align: center



	.reviews-card__column
		position: relative




	.reviews-divider-sm
		width: 100%
		height: 1px
		background:  #D9D9D9
		margin: 26px 0 -28px 0





	.reviews-card__title h3
		font-size: 18px


	.reviews-card__description
		margin: 49px 0 0

	.reviews-card__price
		margin: 26px 0 31px


	.block-9
		margin: 4px 0 0

	.block-9-content__title
		margin: 10px 0  22px!important

	.block-9-content__text
		margin: 0 0 24px





	.block-9__form
		grid-column: 1/2
		position: relative

	.block-9-content__span
		box-shadow: 0px 4px 200px rgba(46, 36, 25, 0.25)
		margin: 0 0 0 0
		top: -14px

	.block-9 .block-6-form__body
		padding: 103px 0px 26px
	.block-9 .block-6-form__item input
		z-index: 200
		overflow: hidden
		padding: 0 0 0 0
		&::placeholder
			text-align: center





	.block-9__column
		grid-row: 2/3
		margin: -69px 0 0 0

	.block-9__content
		order: -1
		text-align: center

	.block-9-content__visible-sm
		margin: 5px 0 0!important

	.block-9-content__cards
		margin: 20px 0px 0 0!important
		row-gap: 0


	.chip__icon--9
		width: 26px!important
		height: 26px
	.block-9-content__card .block-9-card__text
		font-size: 16px
		margin: 3px 0 21px
	.block-9-column__img
		margin: 69px 0 0!important











	.content-sm
		display: inline-block
		margin: 8px 0 0 0

	.block-9-column__name
		margin: 34px 0 0
		font-size: 24px
	.block-9-column__text
		padding: 0px 29px
		line-height: 1.4
		margin: 8px 0 0
	.block-9-content__form .block-6-form__item:first-of-type
		padding: 0 0 0 0
	.block-9-content__form .block-6-form__item:nth-child(3)
		padding: 0 20px 0
	.block-9 .block-6-form__item input
		margin: 15px 0 0
		z-index: 2222
		position: relative
		background: white
	.block-10__slider
		max-width: 380px

	.block-9-content__form .block-6-form__button
		margin: -9px 0 0 0

	.block-9-content__form .block-6-form__politic
		margin: -10px 0 0


	.block-9-content__form .block-6-form__politic
		column-gap: 5px

	.block-10
		margin: 50px 0 0


	.block-10__slider
		margin: 23px auto 0



	.block-10__slider .slider-card-10__img
		width: 300px
		min-height: 428px
		margin: 0 auto

	.block-10__slider .slider-card-10
		text-align: center



	.block-11__title
		h2
			text-align: center

	.block-11-tab__title, .block-11-tab__hidden
		width:  100%


	.block-11
		margin: 58px 10px 0



	.block-11__body
		padding: 21px 0 0
		margin: 0 0 55px




	.block-11-tab__title
		height: 80px
		padding: 0 10px
		span
			font-size: 18px
		svg
			width: 15px
			height:  15px

	.block-11-tab
		margin: 0 auto 13px
		width: 100%

	.block-11-tab__hidden p
		padding: 28px 0 0
		line-height: 1.5
		text-align: center

	.title-active
		color: #a8a8a8



	.block-12 .block-6-form
		padding: 37px 8px
		margin: 0 auto

	.block-12	.block-6-form__pre-title
		font-size: 14px

	.block-12   .block-6-form__title
		margin: 28px 0 0
	.block-12 .block-6-form__text
		font-size: 16px



	.block-12   .block-6-form__content
		margin: 0 0 0 0

	.block-12   .block-6-form__title    h3
		font-size:  18px

	.block-12   .block-6__form
		height: 973px
		border-radius: 10px
		background-color: #191816
		.imgs
			height: 360px
			bottom: 0
			top: auto
	.contacts
		margin: 55px 10px 0
	.contacts__body
		min-height: 522px
		border-top-left-radius: 20px
		border-top-right-radius: 20px
		margin: 20px 0 0
		iframe
			height: 250px
			width: 100%
	.contacts__content
		width: 100%
		max-width: 300px
		height: 273px
		left:   50%
		top: auto
		bottom: 0px
		transform: translate(-50% , 0%)

	.footer .block-logo__description
		display: block
		width: calc(100vw - 20px)
		transform: translate(calc(50% - 30px), 0%)
		text-align: center
		padding: 0 13px
		top: 95px
		p, span
			color: #2f2e2e

	.contacts-content__decor--footer
		margin: 27px 0 0 0

	.footer__body
		grid-template-columns: 1fr
		justify-items: center
		margin: 0 10px 30px
	.footer__politic
		grid-column: 1/2
		grid-template-columns: 1fr
		border: none
		p
			text-align: center
			margin: 0 0 23px 0
			line-height: 1.4

	.footer__politic p:first-child
		padding: 0 0 0 0
		margin: 0 0 0 0
	//
	//
	//.footer__logo-block
	//	padding: 0 0 0 0
	//	min-height: 80px
	//	width: 118px
	//
	.footer__soc .soc
		justify-content: center
		margin:  0
	//
	.footer
			.block-logo
				min-height: 166px
				overflow: hidden
				padding: 0 0 0 0
				width: 100%
			.block-logo__description
				width: 100%
				padding: 0 0 0 0
				left: 50%
				transform: translate(-50%)
			.block-logo .imgs
				top: 0
				width: 118px
				height: 79px
				left: 50%
				transform: translate(-50%, 0%)
			.block-logo__logo
				width: 100px
				height: 53px
				margin: 0 auto
				position: relative
				top: 14px

	.footer__contacts
		margin: 2px 0 0
		width: 100%

	.contacts-content__phone
		padding: 7px 0 2px


	.contacts-content__text-low
		text-align: center

	.contacts-content__phone
		font-size: 24px

	.footer .contacts-content__email
		display: none
	.footer .contacts-content__order
		display: block
		text-align: center
		max-width: 300px
		width:  100%
		height: 60px
		margin: 21px auto
		border-radius: 10px
		background-image: linear-gradient(to top, #ffe484, #e7ac35)
		+center
		font-size: 12px
		line-height: 1.5
		color: #2f2e2e
		text-transform: uppercase
		font-weight: 700
		font-family: Gilroy-Bold, sans-serif
	.footer	.contacts-content__info
			text-align: center
	.footer__politic
		margin: 97px 0 0 0
		p
			&:last-child
				margin: 23px 0 30px 0

	.footer__soc
		padding: 0 0 0 0


	.block-12--single .container
		+jucc
	.block-6-form---single
		max-width: 320px
		margin: 0 auto


	.reviews-card__column--plan .imgs
		max-width: 320px














	.block-6-stage
		margin: 66px 0 0
		padding: 0 10px
		.slick-slide button
			width: 180px
			height:  75px
		.slick-slide    li
			text-align: center
		//.slick-arrow
		//	left: 50px
		.stage-arrow
			position: absolute
			top: 50%
			z-index: 20
			border-radius: 50%
			width: 38px
			height: 38px
			transform: translateY(-50%)
			background-color: #ebebeb
			cursor: pointer
			svg
				width: 10px
				height: 15px
				stroke: #414042
				stroke-width: 3px
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				transition: all .2s ease-in-out

			&:hover
				svg
					stroke-width: 5px
					stroke: $active
		.slick-arrow-stage-1-prev
			left: 20px
		.slick-arrow-stage-1-next
			right: 20px

	.stage-inner__item
		grid-template-columns: 1fr
		row-gap: 40px
		column-gap: 0


	.stage-inner__img
		max-height: 212px
		min-height: 212px
		width:  100%
		max-width: 100%
		margin: 0!important

	.stage-inner__column
		margin: 22px 0 0 0



	.block-7
		margin: 154px 0 0

	.block-7__title span br
				display: inline-block


	.bunner__bg--single ,.bunner--single, .first--single
		height: 342px!important
		max-height: 342px!important
		min-height: 342px!important

	.bunner__body--single
		padding: 190px 10px 0






@media (min-width: 999px)
	.block-9-content__visible-sm
		display: none


@media (min-width: 768px)
	.contacts-content__email
		display: block
	//.contacts-content__order
	//	display: none
	.menu__item svg
		display: none
	.menu__hidden-area
		+alic
		flex-wrap: nowrap
	.bunner__pre-title-sm, .contacts-content__decor
		display: none

	.block-7__title span br
		display: none

	.content-sm
		display: none












