@media (min-width: 768px) and (max-width: 1199px)
	.header
		height: 136px
	.header__block-logo
		grid-column: 1/3
	.header__block-logo .imgs
		top: 0
		width: 493px
	.header__block-logo
		width: 493px
	.header__info
		margin: 0 0 0 0
	.header__button
		grid-column: 1/2
	.header__description
		width: 45%
		margin: 16px 37px 80px auto
	.header__body
		grid-template-columns:  1fr 30%
		row-gap:    40px
	.header__description
		margin: 16px 0 80px auto
		width: 30%
	.header__menu-wrapper
		top: 303px

	.info__phone
		padding: 0 0 0 0
		+fdc
		+jucc
		flex-wrap: nowrap


	.header__button
		margin: 0 0 0 0

	.bunner__body
		padding: 431px 0 0
	.quiz__img
		width: 252px
		height: 104px
		right: 0
		bottom: 0
		top: auto
	.footer__body
		grid-template-columns:  478px 224px
		column-gap: 40px
		row-gap:    40px
	.footer__contacts
		grid-column: 1/3
	.block-6__title
		h2
			br
				display: none
	.block-11-tab__title , .block-11-tab__hidden, .block-11-tab
		width: 100%

	.block-10__slider .slider-card-10__img
		width: 300px
		min-height: 428px
		margin: 0 auto



















@media (max-width: 999px)
	.header
		height: 136px
