
@font-face {
font-family: Gilroy-Bold;
src:
local(Gilroy-Bold),
url('/assets/fonts/Gilroy-Bold.woff') format('woff'),
url('/assets/fonts/Gilroy-Bold.ttf') format('truetype'),
url('/assets/fonts/Gilroy-Bold.otf  '),
url('/assets/fonts/Gilroy-Bold.eot  ');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: Gilroy-Semibold;
src:
local(Gilroy-Semibold),
url('/assets/fonts/Gilroy-Semibold.woff') format('woff'),
url('/assets/fonts/Gilroy-Semibold.ttf') format('truetype'),
url('/assets/fonts/Gilroy-Semibold.otf  '),
url('/assets/fonts/Gilroy-Semibold.eot  ');
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: Gilroy-Medium;
src:
local(Gilroy-Bold),
url('/assets/fonts/Gilroy-Medium.woff') format('woff'),
url('/assets/fonts/Gilroy-Medium.ttf') format('truetype'),
url('/assets/fonts/Gilroy-Medium.otf  '),
url('/assets/fonts/Gilroy-Medium.eot  ');
font-weight: 500;
font-style: normal;
}

@font-face {
	font-family: Gilroy-Regular;
	src:
			local(Gilroy-Regular),
			url('/assets/fonts/Gilroy-Regular.woff') format('woff'),
			url('/assets/fonts/Gilroy-Regular.ttf') format('truetype'),
			url('/assets/fonts/Gilroy-Regular.otf  '),
			url('/assets/fonts/Gilroy-Regular.eot  ');
	font-weight: 400;
	font-style: normal;
}