.block-10
	margin: 157px 0 0

.block-10__title
	+jucb


.block-10__slider
	position: relative
	max-width: 1280px
	margin: 40px auto 0


.slider-card-10
	border-radius: 10px
	span
		position: relative
		z-index: 20
.slider-card-10__img
	position: relative
	min-height: 577px
	border: solid 5px white

.slider-card-10__text
	text-align: center
	span
		display: inline-block
		text-transform: uppercase
		border-bottom: 1px dotted #b18223
		background: transparent
		margin: 20px auto 0
		line-height: 1.5











