.block-5
	margin: 138px 0 0 0

.block-5__body
	+fdc
	+alic



.block-5__title
	+jucc
	h2
		text-align: center
		line-height: 1.2









.block-5__more
	display: inline-block
	margin: 0px 0px
	text-transform: uppercase
	transition: all .2s ease-in-out
	background-image: linear-gradient(to top, #f1f1f1 , white )
	width: 97%
	height: 120px
	position: absolute
	bottom: -107px
	left:   50%
	transform: translate(-50%, 0%)
	border-radius: 10px

	z-index: 4
	span
		border-bottom: 1px dashed #2f2e2e

	&:hover
		text-shadow: 0 0 3px rgba(0,0,0, .4)


.block-5__content-area
	width: 100%
	+fdc
	position: relative

.projects-js
	display: grid!important
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
	column-gap: 38px
	row-gap: 30px
	margin: 53px 0 50px 0
	position: relative
	z-index: 2
	transition: all .5s ease-in-out


.future-card
	min-height: 777px
	padding: 20px 18px 24px
	border-radius: 10px
	box-shadow: 0 4px 100px 0 rgba(46, 36, 25, 0.25)
	+fdc

.future-card__pre-title
	text-transform: uppercase
	margin: 26px 0 0 0
.future-card__img
	position: relative
	padding: 0 0 200px 0
.future-card__title
	margin: 20px 0 29px

.future-card__line
	margin: 0 0 17px
	+jucb
.future-card__line--cost
	padding: 35px 0 0
.future-card__divider
	border-bottom: 1px dashed #9d9d9d
	margin: 10px 0 26px

.future-card__button
	margin: auto 0 0 0
	height: 75px




@media (min-width: 768px) and (max-width: 1355px)
	.block-5__content,.projects-js
		grid-template-columns: repeat(auto-fill,minmax(334px,1fr))

	.block-5
		margin: 100px 0 0 0



