.block-6
	margin: 181px 0 0
	.container
		position: relative
		z-index: 2
.block-6__wrapper
	position: relative
.block-6__wrapper-imgs
		height: calc(100% - 393px)
.block-6__top
	text-align: center
.block-6__body

.block-6__column

.block-6__img

.block-6__title
	h2
		line-height: 1.2

.block-6__text
	margin: 35px 0 0 0

.block-6__button


.block-6__form
	margin: 345px 0 0 0

.block-6-form
	position: relative
	padding: 77px 57px
	margin: 345px 0 0 0
	.imgs
		border-radius: 10px
.block-6-form__title
	margin: 20px 0 0 0
	line-height: 1.2
.block-6-form__text
	line-height: 1.5
	margin: 21px 0 0

.block-6-form__body
	margin: 40px 0 0 0
	position: relative
	z-index: 2
	width: 808px
	height: 153px
	padding: 18px 22px 20px 21px
	border-radius: 10px
	box-shadow: 0 4px 170px 0 rgba(46, 36, 25, 0.25)
	background-color: white
	display: grid
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
	column-gap: 11px
	row-gap: 10px


.block-6-form__item
	label

	&:nth-child(3)
		align-self:    flex-end
.block-6__button
		margin: 50px auto -14px
		width: 474px
		height: 99px
.block-6-form__content
	position: relative
	z-index: 2
	margin: 42px 0 0 0

.block-6-form__input
	background:  #f1f1f1
	max-height: 56px
	margin: 10px 0 0
	padding: 0 0 0 20px
	&::placeholder
		font-size: 14px
		color: #8d8d8d
		font-family: 'Gilroy-Regular', sans-serif

.block-6-form__politic
	grid-column: 1/4
	display: grid
	grid-template-columns: 11px 1fr
	column-gap: 10px
	align-items: start

	svg
		width: 11px
		height:  11px
		margin: 0 10px 0 0

.block-6-form__pre-title
	text-transform: uppercase

.block-6-form__button
	width: 249px
	height: 56px
	margin: 17px 0 0 0




//----------------------

.block-6-stage
	margin: 118px 0 0


.block-6-stage__title
	+jucc
	text-align: center
	h2
		line-height: 1.2
.block-6-stage__buttons
	//display: grid
	//grid-template-columns: repeat(6,1fr)
	//column-gap: 40px
	margin: 40px -20px 44px
	height: 75px
	position: relative
.block-6-stage__button
	text-transform: uppercase
	width: 100%
	height: 75px
	border-radius: 5px


.slider-js-stage-1
	.slider__body
		margin: 0 -40px
	button
		transition: all .2s ease-in-out

	.slick-current button
		background-color: #ffe484
		color: #2f2e2e

	.slick-slide
		margin: 0 20px


.slider-js-stage-2
	.slick-prev
		display: none!important
	//.slick-next
	//	display: block!important




.stage-inner__item
	display: grid!important
	grid-template-columns: 620px 1fr
	column-gap: 52px

.stage-inner__column
	.stage-inner__title,  .stage-inner__line, .chip__text, .chip, .chip__icon,  .stage-inner__pre-title
		height: auto!important

	.chip__icon
		width: 26px
		height: 26px!important


.stage-inner__img
	position: relative
	min-height: 440px
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center
	.imgs
		border-radius: 10px
		max-width: 620px
		left: 50%
		transform: translate(-50%, 0%)

.stage-inner__pre-title
	text-transform: uppercase
.stage-inner__title
	margin: 24px 0 25px 0
	line-height: 1.2
.stage-inner__line
	display: flex
	margin: 0px 0 23px 0
.stage-inner__icon
	margin: 0 10px 0 0
.stage-inner__button
	+alic
	+jucb
	width: 249px
	height: 56px
	border-radius: 10px
	background-color: #ebebeb
	position: absolute
	z-index: 2
	bottom: 39px
	right: 359px
	padding: 0 21px 0 30px
	span
		text-transform: uppercase
	svg
		width: 21px
		height: 10px
		margin: 0 0 0 0

.block-6-form
	.imgs
		img
			object-fit: contain



