.block-3
	margin: -6px 0 0 0

.block-3__body



.block-3-card__decor
	width:  172px
	height: 172px
	position: relative
	position: absolute
	top:    0px
	left:   50%
	transform: translate(-50%,0%)
	svg
		+pro

.block-3__title
	text-align: center
	margin: 0 0 67px 0
	line-height:    1.2

	span
		display: inline
		&:last-child
			text-transform: uppercase

.block-3__cards
	display: grid
	grid-template-columns: repeat(auto-fill, minmax(288px, 1fr))
	column-gap: 142px
	row-gap: 60px
	justify-content: center
	margin: 0 58px


.block-3-card__img
	//padding: 0 0 60% 0
	width:  100%
	margin: 0 auto
	img
			object-fit: contain

.block-3__card
	display: grid
	grid-template-rows:  66% 1fr
	min-height: 326px
	&:nth-child(1)
		.block-3-card__img
			padding: 0 0 201px 0
			width: 83%
	&:nth-child(2)
		.block-3-card__img
			width: 52%
			margin: 18px auto
	&:nth-child(3)
		.block-3-card__img
			width: 82%
			margin: 29px auto 0
	&:nth-child(4)
		.block-3-card__img
			width: 56%
	&:nth-child(5)
		.block-3-card__img
			width: 50%
	&:nth-child(6)
		.block-3-card__img
			width: 72%
			margin: -25px 0 0 0
.block-3-card
	position: relative


.block-3-card__text
	//+fdc
	text-align: center
	line-height: 1.6
	//flex-grow: 1
	//+juce


@media (min-width: 768px) and (max-width: 1355px)
	.block-3__cards
		grid-template-columns: repeat(auto-fill,minmax(222px,1fr))
		column-gap: 100px
		row-gap: 70px
		margin: 0 40px

    