@media (min-width: 768px) and (max-width: 1355px)
		.block-9-column__img
			min-height: 446px
		.block-9__body
			column-gap: 50px
			grid-template-columns: 441px 1fr
		.reviews-card__body
			grid-template-columns: 438px 1fr
		.block-9-content__form .block-6-form__politic span
				margin: 20px 0 0 0
		.footer__body
			grid-template-columns: 412px 1fr 224px
		.block-logo__logo
			transform: scale(.7)
		.block-logo
			padding: 0 0 0 0

@media (max-width: 767px)
