.reviews-card__right
    .reviews-card__title
        h3._f-30._w-600._28   Кирпичный коттедж 257 кв.м
    .reviews-card__title-line.reviews-card-title-line
        .reviews-card-title-line__text
            span._w-400 Проект:
            span  &nbsp;“Ракета”
        .reviews-card-title-line__chip._f-18._w-500 Построили под ключ за 60 дней
    .reviews-divider-sm
    .reviews-card__description._f-16._w-400  Стоимость строительства:
    .reviews-card__price
        span._f-50._w-700    от
        span._f-50._w-700._eb    4 199 000
        span._f-50._w-700    руб.
    .reviews-card__review.reviews-card-review
        .reviews-card-review__head
            .reviews-card-review__img
                .imgs
                    img(src='assets/img/block-8/i-1.webp', alt='img')
            .reviews-card-review__head-title
                h4._f-24  Сергей Алексеевич
                p._w-400   Владелец дома
            a(href="#!").reviews-card-review__icon
                svg
                    use(xlink:href='/assets/img/sprite.svg#Instagram')
        .reviews-card-review__text._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
        .more-hidden-js.reviews-card-review__hidden._w-400  В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности является качественно новой ступенью переосмысления внешнеэкономических политик.
        button(type="button").reviews-card-review__more._f-18._w-600._b1.button-more-js
            span.visible-span-js Читать далее...
            span Свернуть