li.stage-inner__item
    .stage-inner__img
        .imgs
            img(data-src='assets/img/block-6/i-3.webp', alt='img')
    .stage-inner__column
        .stage-inner__pre-title._f-14._w-600._b1 2 -3 недели
        .stage-inner__title
            h4._f-30._w-600._28  Возведение стен, перекрытий<br>и монтаж кровли
        .stage-inner__line
            .chip
                .chip__icon
                    svg
                        use(xlink:href='/assets/img/sprite.svg#mark')
                .chip__text._f-18._w-400._2f Стены из заводского газобетона автоклавного производства,  облицовочного кирпича. Перекрытия только из новых железобетонных плит по ГОСТу и СНиПу.

        .stage-inner__line
            .chip
                .chip__icon
                    svg
                        use(xlink:href='/assets/img/sprite.svg#mark')
                .chip__text._f-18._w-400._2f Крыша утеплённая из заводского профнастила
        .stage-inner__line
            .chip
                .chip__icon
                    svg
                        use(xlink:href='/assets/img/sprite.svg#mark')
                .chip__text._f-18._w-400._2f Монтаж заводских МПО и входной двери с терморазрывом
